{{#ui/ui-box as |b|}}
  {{#bs-form model=model onSubmit=(action "submit") as |form|}}
  {{#b.body}}
    {{#unless setupGroups.isRunning}}
      {{#if (and groups.length (not chooseOption))}}
        <div class="row">
          <div class="col-6">
            {{#bs-button onClick=(action (mut chooseOption) 'new')}}Create New{{/bs-button}}
          </div>
          <div class="col-6">
            {{#bs-button onClick=(action (mut chooseOption) 'existing')}}Choose Existing{{/bs-button}}
          </div>
        </div>
      {{/if}}
      {{#if chooseOption}}

          <div class="row">
            <div class="col-6">
              {{#if (eq chooseOption "new")}}
                {{form.element controlType="text" label="Create New" property="newGroup"}}
              {{else}}
                {{form.element controlType="power-select"
                               property="existingGroup"
                               label="Choose Existing"
                               options=groups
                               optionLabelPath="title"}}
              {{/if}}
            </div>
          </div>
      {{/if}}

    {{else}}
      {{ui/inline-loading}}
    {{/unless}}
  {{/b.body}}
  {{#b.footer}}
      {{bs-button defaultText="Next" type="primary" disabled=(not chooseOption) buttonType="submit"}}
  {{/b.footer}}
{{/bs-form}}
{{/ui/ui-box}}

