
<div class="row">
  <div class="col-md-6">
    {{#ui/ui-box as |b|}}
      {{#b.body}}
        <h6>Select Bills</h6>
        <div class="row mb-3">
          {{!--<div class="col-12">
            {{#bs-button-group
              value=inputType
              type="radio"
              onChange=(action (mut inputType)) as |bg|}}
              {{#bg.button value="one"}}One At A Time{{/bg.button}}
              {{#bg.button value="many"}}Paste a Big List{{/bg.button}}
            {{/bs-button-group}}
          </div>--}}
        </div>
        <div class="row">
          <div class="col-12">
            {{#if (eq inputType "many")}}
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Paste a list of bills seperated by commas</label>
                {{textarea class="form-control" value=billIds id="exampleFormControlTextarea1" rows="3" enter=(perform parseInput)}}
                {{#bs-button onClick=(perform parseInput)}}Add{{/bs-button}}
              </div>
            {{else}}
              {{#power-select
                search=(perform searchTask)
                selected=selected
                onchange=(action "addSingleSelection")
              as |bill|}}
                {{bill.stateId}} - {{bill.sponsor.fullName}}
              {{/power-select}}
            {{/if}}
          </div>
        </div>
      {{/b.body}}
      {{#b.footer class="mt-4"}}
        {{bs-button defaultText="Next" type="primary" disabled=(lt selectedBills.length 1) onClick=(perform createWrappers)}}
      {{/b.footer}}
    {{/ui/ui-box}}
  </div>
  <div class="col-md-6">
    <h6>Selected Bills</h6>
    {{#bs/list-group as |g|}}
      {{#g.item class="d-flex justify-content-between"}}<strong>ID</strong> <strong>Sponsor</strong>{{/g.item}}
      {{#each selectedBills as |bill|}}
        {{#g.item class="d-flex justify-content-between"}}{{bill.stateId}} {{bill.sponsor.fullName}}{{/g.item}}
      {{/each}}
    {{/bs/list-group}}
  </div>
</div>