{{#link-to "todos"}}<h4>The Latest</h4>{{/link-to}}
<div class="row justify-content-between">
  {{#if stats.introduced}}

    {{#ui/ui-box direction="row" class="icon-box-50" as |b|}}
      {{#b.icon colSize=4}}
        <h4 class="text-center">
          {{fa-icon "rss"}}<br>
          {{stats.introduced}}
        </h4>
      {{/b.icon}}
      {{#b.body}}
        <h6>Introduced Bills</h6>
        <p>{{#link-to "todos" (query-params type="bill:introduced") class="btn btn-light"}}View{{/link-to}}</p>
      {{/b.body}}
    {{/ui/ui-box}}


  {{/if}}
  {{#if stats.updated}}
    {{#ui/ui-box direction="row" class="icon-box-50" as |b|}}
      {{#b.icon colSize=4}}
        <h4 class="text-center">
          {{fa-icon "gavel"}}<br>
          {{stats.updated}}
        </h4>
      {{/b.icon}}
      {{#b.body}}
        <h6>Updated Saved Bills</h6>
        <p>{{#link-to "todos" (query-params type="wrapper:updated") class="btn btn-light"}}View{{/link-to}}</p>
      {{/b.body}}
      {{/ui/ui-box}}
  {{/if}}
</div>

{{#if media.isMobile}}
  <div class="row my-4">
    <div class="col-12">
      {{#bs/link-button "todos" type="primary" class="btn-block"}}View All Actions <span class="badge badge-light">{{stats.total}}</span>{{/bs/link-button}}
    </div>
  </div>
{{/if}}

{{#if media.isDesktop}}
  <div class="row mt-4">
    <div class="col-12">
      {{tools/to-do}}
    </div>
  </div>
{{/if}}