{{#ui/ui-box as |b|}}
  {{#b.header}}
    {{#if referencedModel.committee.isPending}}
      {{ui/inline-loading}}
    {{else}}
      {{displayTitle}} <small>{{referencedModel.title}}</small>
    {{/if}}
    {{close-button (action "dismiss") class="pull-right"}}
  {{/b.header}}
  {{#b.body}}
    <div class="w-100">
      <dl>
        <dt>Time</dt>
        <dd>{{moment-format referencedModel.start "MMM D - h:mm a"}}</dd>
        <dt>Location</dt>
        {{referencedModel.locationText}}
        <dt>Agenda</dt>
        <dd>{{referencedModel.descriptionHtml}}</dd>
      </dl>
    </div>

  {{/b.body}}
  {{#b.footer class=footerClasses}}
    {{#if committee}}
      {{#calendar-button referencedModel class="d-inline" onClick=(action "trackEvent") as |b|}}
        {{#b.ical class="btn btn-outline-primary"}}{{fa-icon "calendar-plus-o"}}{{/b.ical}}
        {{#b.google class="btn btn-outline-primary"}}{{fa-icon "google"}}{{/b.google}}
      {{/calendar-button}}
    {{/if}}
    {{bs-button defaultText="Dismiss" type="outline-secondary" class="mx-1" onClick=(action "dismiss")}}
  {{/b.footer}}
{{/ui/ui-box}}
