
<div class="row">
  <div class="col-md-8">
    {{#bs-form model=model onSubmit=(action "createReport") as |form|}}
      {{#ui/ui-card}}
        {{#block-slot "content"}}

          {{#form.element label="Client" property="group" as |el|}}
            {{#power-select
              options=groups
              selected=selectedGroup
              searchEnabled=enableGroupSearch
              onchange=(action "updateGroup" (mut el.value))
            as |group|
            }}
              {{group.title}}
            {{/power-select}}
          {{/form.element}}
          {{#if hasGroup}}

            {{form.element controlType="textfield" label="Title" property="title"}}
            {{form.element controlType="textarea" label="Comments" property="description"}}
            {{#form.element label="Report Layout" property="layout" as |el|}}
              {{#power-select
                options=layoutOptions
                selected=el.value
                searchEnabled=false
                onchange=(action (mut el.value))
              as |layout|
              }}
                {{layout.label}}
              {{/power-select}}
            {{/form.element}}

            {{#form.element label="Filters" property="filter"}}
              <p>
                <strong>Add New Filter</strong><br>

                {{#unless addFilterItem}}
                  {{#bs-button type="secondary" onClick=(action (mut addFilterItem) true)}}
                    {{fa-icon "plus"}} Add Filter
                  {{/bs-button}}
                {{else}}
                  {{tools/filter-item isNew=true isEditing=true update=(action "updateFilterItem")}}
                {{/unless}}
              </p>
              <hr class="my-1">
              {{#each filterList as |filter|}}
                {{tools/filter-item value=filter isEditing=false update=(action "updateFilterItem") delete=(action "deleteFilterItem")}}
              {{/each}}

            {{/form.element}}

          {{else}}
            Select Client to continue
          {{/if}}

        {{/block-slot}}

        {{#block-slot "footer"}}
          {{bs-button defaultText=(if edit "Update" "Create") type="primary" buttonType="submit"}}
        {{/block-slot}}
      {{/ui/ui-card}}

    {{/bs-form}}
  </div>
  <div class="col-md-4">
    <h4>Included Bills</h4>
    {{#if getWrappers.isRunning}}
      {{ui/loading-animation}}
    {{else}}
      <div class="list-group">
        {{#each wrapperList as |wrapper|}}
          <div class="list-group-item justify-content-between">

            <span>
              {{wrapper.bill.stateId}}<br>
              {{wrapper.bill.sponosor.fullName}}
            </span>
            {{wrappers/wrapper-position wrapper=wrapper canEdit=false}}
            {{#if isStatic}}
              <button class="btn btn-outline-danger btn-sm" {{action "removeWrapper" wrapper}}>{{fa-icon "times"}} Remove</button>
            {{/if}}
          </div>
        {{else}}
          <div class="list-group-item">
            <p class="text-centered">
              <em>This report doesn't include any bills.</em>
            </p>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>


