
<div class="row">
  <div class="col-md-8">
    {{#bs-form model=model onSubmit=(action "createReport") as |form|}}
      {{#ui/ui-card}}
        {{#block-slot "title"}}
          Edit Report
        {{/block-slot}}
        {{#block-slot "content"}}
          {{form.element controlType="textfield" label="Title" property="title"}}
          {{form.element controlType="textarea" label="Comments" property="description"}}

          {{#form.element label="Client" property="group" as |el|}}
            {{#power-select
              options=groups
              selected=selectedGroup
              searchEnabled=enableGroupSearch
              onchange=(action "updateGroup" (mut el.value))
              as |group|
            }}
              {{group.title}}
            {{/power-select}}
          {{/form.element}}

          {{#form.element label="Report Type" property="static" as |el|}}
            <p>
            {{#bs-button-group
              value=isStatic
              type="radio"
              size="sm"
              onChange=(action "setReportType" (mut el.value))
            as |bg|}}
              {{#bg.button value=false}}Dynamic{{/bg.button}}
              {{#bg.button value=true}}Static{{/bg.button}}
            {{/bs-button-group}}
            </p>
              <p><em>
                {{#if isStatic}}
                  <strong>Static</strong> reports include a fixed set of bills and will not update.
                {{else}}
                  <strong>Dynamic</strong> reports update as new bills meet your report criteria
                {{/if}}
              </em></p>
          {{/form.element}}

          {{!--{{#form.element label="Logo Choice" property="logoChoice" as |el|}}
            <p>
              {{#bs-button-group
                value=el.value
                type="radio"
                size="sm"
                onChange=(action (mut el.value)) as |bg|}}
                {{#bg.button value="organization"}}Organization{{/bg.button}}
                {{#bg.button value="group"}}Group{{/bg.button}}
                {{#bg.button value=false}}None{{/bg.button}}
              {{/bs-button-group}}
            </p>

          {{/form.element}} --}}
          {{#form.element label="Report Layout" property="layout" as |el|}}
            {{#power-select
              options=layoutOptions
              selected=el.value
              searchEnabled=false
              onchange=(action (mut el.value))
              as |layout|
            }}
              {{layout.label}}
            {{/power-select}}
          {{/form.element}}

          {{#form.element label="Filters" property="filter"}}
            <p>
              <strong>Add New Filter</strong><br>
              {{tools/filter-item opts=filterOptions isNew=true isEditing=true update=(action "updateFilterItem")}}
            </p>
            <hr class="my-1">
            {{#each filterList as |filter|}}
              {{tools/filter-item filter=filter opts=filterOptions update=(action "updateFilterItem")}}
            {{/each}}

          {{/form.element}}


        {{/block-slot}}

        {{#block-slot "footer"}}
          {{bs-button defaultText=(if edit "Update" "Create") type="primary" buttonType="submit"}}
        {{/block-slot}}
      {{/ui/ui-card}}

    {{/bs-form}}
  </div>
  <div class="col-md-4">
    <h4>Included Bills</h4>
    {{#if getWrappers.isRunning}}
      {{ui/loading-animation}}
    {{else}}
      <div class="list-group">
        {{#each wrapperPreviewList as |wrapper|}}
          <div class="list-group-item justify-content-between">
            {{wrapper.bill.stateId}}
            {{wrappers/wrapper-position wrapper=wrapper canEdit=false}}
            {{#if isStatic}}
              <button class="btn btn-outline-danger btn-sm" {{action "removeWrapper" wrapper}}>{{fa-icon "times"}} Remove</button>
            {{/if}}
          </div>
        {{else}}
          <div class="list-group-item">
            <p class="text-centered">
              <em>This report doesn't include any bills.</em>
            </p>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>


