{{log model}}
{{#ui/ui-card}}
  {{#if model.hasDirtyAttribtues}}
    {{#block-slot "title"}}
      <span class="text-warning">
        Save to keep changes...
      </span>
    {{/block-slot}}
  {{/if}}

  {{#block-slot "content"}}
    {{#bs-form model=model onSubmit=(action "saveGroup") as |form|}}
      {{form.element controlType="textfield" label="Name" placeholder="Group Name" property="title" required=true}}
      {{form.element controlType="checkbox" label="Active" property="active"}}
      {{form.element controlType="textarea" label="Description" property="description"}}

      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value={{groupSavedToUser}} onclick={{action "saveGroupToUser"}}>
          Save group to favorites
        </label>
      </div>

      <div class="row">
        <div class="col-6">
          <p><strong>Client Logo</strong></p>

          {{#if changeLogo}}
            {{tools/upload-tool group=model accept="image/*" resultAction=(action "handleResponse") class="mb-1"}}
          {{else}}
            <p><strong>Logo Name:</strong> <br>{{logoName}}</p>
          {{/if}}
          {{#if model.logo}}
            <p>
              <button class="btn btn-secondary btn-sm" {{action "changeLogo"}}>
                {{if changeLogo "Cancel" "Change Logo"}}
              </button>
            </p>
          {{/if}}
        </div>
      </div>
      <div class="mt-2">
        {{bs-button defaultText="Save" type="primary" buttonType="submit"}}
      </div>
    {{/bs-form}}
  {{/block-slot}}
{{/ui/ui-card}}