{{#ui/ui-card}}
  {{#block-slot "title"}}
  {{/block-slot}}

  {{#block-slot "content"}}
    {{#bs-form formLayout=formLayout model=model onSubmit=(action "saveGroup") as |form|}}
      {{form.element controlType="textfield" label="Name" placeholder="Group Name" property="title" required=true}}
      <div class="row">
        <div class="col-md-6">
          {{#if model.logo}}
            Logo Name: {{model.logo}}
          {{else}}
            <div class="well">
              {{tools/upload-tool group=model accept="image/*" resultAction=(action "handleResponse")}}
            </div>
          {{/if}}

        </div>
        <div class="col-md-6">
          {{form.element controlType="textarea" label="Description" property="description"}}
        </div>
      </div>
      <div class="row">

      </div>
      <div class="button-group">
        {{bs-button defaultText="Save" type="primary" buttonType="submit"}}
      </div>
    {{/bs-form}}
  {{/block-slot}}
{{/ui/ui-card}}