<div class="app flex-row align-items-center anon-wrapper">
  {{#if media.isMobile}}
    <div class="col-md-6 col-lg-offset-1 col-sm-12">
      <div class="anon-header">
        <h1>
          <img class="img-fluid w-50" src="/assets/images/capitolzenwordmark_logo.svg" alt="Capitol Zen">
          <span class="sr-only">Capitol Zen</span>
        </h1>
      </div>
      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash}}
      {{/each}}
      <div class="anon-content">
        {{anon/claim-invite invite=model}}
      </div>
    </div>
  {{else}}
    <div class="col-5 d-none d-md-block">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">
            <img src="/assets/images/capitolzenwordmark_logo.svg" width="200px"/>
            <span class="sr-only">Capitol Zen</span>
          </h1>
          <p class="card-text lead">
            <strong>Zen, Adj</strong>
          </p>
          <p class="card-text lead">
          <ol>
            <li>Enlightenment by Intuition</li>
          </ol>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-offset-1 col-sm-12">
      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash}}
      {{/each}}
      <div class="card">
        <div class="card-title">
          <div class="header hidden-sm-up">
            <h1 class="card-title">
              <img src="/assets/images/capitolzenwordmark_logo.svg" width="200px"/>
              <span class="sr-only">Capitol Zen</span>
            </h1>
          </div>
        </div>
        {{anon/claim-invite invite=model}}
      </div>
    </div>
  {{/if}}
</div>