{{#ui/ui-card}}
  {{#block-slot "content"}}
    {{#bs-form model=recordQuery onSubmit=(action "filter") as |form|}}
      <div class="row">
        <div class="col-md-3">
          {{form.element placeholder="Search" controlType="text" property="search"}}
        </div>
        <div class="col-md-6">
          <div class="row">
            {{#form.element property="active_in" class="mw-100" as |el|}}
              <div class="col-md-6">
                <div class="power-select-group-wrapper">
                  {{#power-select
                    options=dateFilterOptions
                    selected=dateFilterType
                    searchEnabled=false
                    class="bill-table-date-filter"
                    onchange=(action (mut dateFilterType))
                  as |option|}}
                    <span class="text-capitalize">{{option}}</span> Date Range
                  {{/power-select}}
                </div>
              </div>
              <div class="col-md-6">
                {{baremetrics-calendar
                  startDate=dateFilters.startDate
                  endDate=dateFilters.endDate
                  latestDate=latestDate
                  presets=presets
                  onchange=(action "updateDateFilter")}}
              </div>
            {{/form.element}}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        {{bs-button defaultText="Filter" pendingText="Saving..." type="primary" buttonType="submit"}}
      </div>
    {{/bs-form}}
  {{/block-slot}}
{{/ui/ui-card}}

{{#ui/ui-card}}
  {{#block-slot "content"}}
    {{#light-table table responsive=true height=tableHeight as |t|}}

      {{t.head
        onColumnClick=(action 'onColumnClick')
        iconAscending='fa fa-sort-asc'
        iconDescending='fa fa-sort-desc'
        fixed=true
      }}

      {{#t.body
        onScrolledToBottom=(action 'onScrolledToBottom')
      as |body|
      }}
        {{#if isLoading}}
          {{#body.loader}}
            {{ui/loading-animation}}
          {{/body.loader}}
        {{/if}}
        {{#if (and (not isLoading) table.isEmpty)}}
          {{#body.no-data}}
            <p class="text-center">No saved bills match your filters.</p>
          {{/body.no-data}}
        {{/if}}
      {{/t.body}}

    {{/light-table}}
  {{/block-slot}}
{{/ui/ui-card}}
