
{{#ui/ui-box as |b|}}
  {{#b.body}}
    {{#unless isDraft}}
      <div class="row">
        <h4>
          {{bill.stateId}}
        </h4>
        <small>
          {{#legislator/legislator-info legislator=bill.sponsor as |fields|}}
            {{fields.name}}
            {{fields.party}}
          {{/legislator/legislator-info}}
        </small>
      </div>

    {{else}}
      <h5 class="badge badge-light pull-right">Bill Draft</h5>
      <h4>{{wrapper.internalTitle}}</h4>
    {{/unless}}

  {{/b.body}}
{{/ui/ui-box}}

{{#bs-tab as |tab|}}
  {{#tab.pane title="Comments"}}
    {{#ui/ui-box as |b|}}
      {{#b.body}}
          <div class="row">
            <div class="col-md-6">
              <h5>Notes</h5>
              <div class="note-list-wrapper">
                {{#each notes as |note|}}
                  {{tools/note-component note=note save=(action "saveNote") delete=(action "deleteNote")}}
                {{else}}
                  <p class="text-center">Add Your First Note!</p>
                {{/each}}
              </div>
              {{#unless isEditingNote}}
                <div class="note-add-wrapper">
                  {{tools/text-editor isNew=true saveAction=(action "saveNote") cancelAction=(action "toggleAddNote")}}
                </div>
              {{/unless}}
            </div>
            <div class="col-md-6">
              <h5>Position</h5>
              {{wrappers/wrapper-position wrapper=wrapper canEdit=true}}
              <h5>Summary</h5>
              {{wrappers/wrapper-summary wrapper=wrapper class="mb-2"}}
              {{#if wrapper.metadata.savedby}}
                <h5>Saved By</h5>
                <p>{{wrapper.metadata.savedby}} | {{tools/date-display wrapper.metadata.savedtime}}</p>
              {{/if}}

            </div>
          </div>
      {{/b.body}}
    {{/ui/ui-box}}
  {{/tab.pane}}
  {{#tab.pane title="Bill"}}
    {{#ui/ui-box as |b|}}
      {{#b.body}}
        {{#unless isDraft}}
          <div class="row">
            <div class="col-md-6">
              <p>
                <div class="d-flex">
                  {{#if bill.votes}}
                    {{#bs/link-button "bills.votes" bill.id type="light" class="mx-1"}}
                      {{fa-icon "gavel"}} Votes
                    {{/bs/link-button}}
                  {{/if}}
                  <a href="{{bill.remoteUrl}}" target="_blank" class="btn btn-light mx-1">View Bill Text {{fa-icon
                    "external-link"}}</a>

                </div>
              </p>

              <h5>Title</h5>
              <p>{{bill.title}}</p>
              {{bills/bill-cosponosrs bill}}
              {{bills/source-list sources=bill.sources class="mt-1"}}
              {{bills/doc-list docs=bill.documents class="mt-1"}}
              {{bills/-detail/bill-labs bill class="mt-1"}}
            </div>
            <div class="col-md-6">
              {{bills/-detail/history bill=bill}}

            </div>
          </div>
          {{#if bill.votes}}
            <div class="row">
              <div class="col-md-12">
                {{bills/-detail/vote-list votes=bill.votes}}
              </div>
            </div>
          {{/if}}
        {{else}}
          <p class="text-center">This Bill Has Draft Status.</p>
          <p class="text-center">
            {{#bs-button type="primary" onClick=(action (mut openBillConnector) true) class="mx-1"}}
              {{fa-icon "paperclip"}} Attach To Bill
            {{/bs-button}}
            {{#bs-button type="light" onClick=(action (mut openDraftEditor) true) class="mx-1"}}
              {{fa-icon "pencil"}} Edit Draft
            {{/bs-button}}
          </p>
        {{/unless}}
      {{/b.body}}
    {{/ui/ui-box}}
  {{/tab.pane}}
  {{#tab.pane title="Files"}}
    {{#ui/ui-box as |b|}}
      {{#b.body}}
        <div class="row">
          <div class="col-8">
            <h5>Files</h5>
          </div>
          <div class="col-4">
            {{#bs-button class="pull-right" type="primary" onClick=(action (mut openModal) true)}}
              {{fa-icon "upload"}} Add File
            {{/bs-button}}
          </div>
        </div>
        <div class="row">
          {{#each wrapper.files as |fileId|}}
            {{wrappers/wrapper-file fileId class="col-md-3"}}
          {{else}}
            <div class="col-md-6 offset-3 text-center">
              <p>No Files Added</p>
              <p>
                {{#bs-button type="link" onClick=(action (mut openModal) true)}}
                  {{fa-icon "upload"}} Add File
                {{/bs-button}}
              </p>
            </div>
          {{/each}}
        </div>
      {{/b.body}}


    {{/ui/ui-box}}
  {{/tab.pane}}
  {{#tab.pane title="Settings"}}
    {{wrappers/wrapper-edit wrapper=wrapper}}
  {{/tab.pane}}
{{/bs-tab}}

{{#bs-modal open=openModal onHidden=(action (mut openModal) false) size="lg" as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Select File
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    {{#bs-tab as |tab|}}
      {{#tab.pane title="Library"}}
        {{files/file-list select=(action "selectFile")}}
      {{/tab.pane}}
      {{#tab.pane title="Upload"}}
        <div class="w-100 border border-light p-2">
          {{files/file-upload didCreateFile=(action "selectFile") class="file-upload-modal"}}
        </div>
      {{/tab.pane}}
    {{/bs-tab}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}
  {{/modal.footer}}

{{/bs-modal}}

{{#bs-modal open=openBillConnector onHidden=(action "attachBill") size="lg" as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Attach To Bill
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    {{#power-select
      search=(perform searchBills)
      selected=selectedBill
      onchange=(action (mut selectedBill))
      renderInPlace=true
      as |b|
    }}
      {{b.stateId}}
    {{/power-select}}

  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button type="primary" onClick=(action modal.close)}}Attach{{/bs-button}}
  {{/modal.footer}}

{{/bs-modal}}

{{#bs-modal open=openDraftEditor onHidden=(action (mut openDraftEditor) false) size="lg" as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Edit Draft Details
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    {{wrappers/wrapper-add wrapper=wrapper submitAction=(action modal.close)}}
  {{/modal.body}}
{{/bs-modal}}