{{#if isEditing}}
  {{#power-select
    options=positions
    selected=position
    searchEnabled=false
    onchange=(action "save")
    as |pos|
  }}
    <span class="text-capitalize">{{pos}}</span>
  {{/power-select}}


{{else}}
  <span class="badge badge-{{positionModifier}}">{{fa-icon positionIcon}} {{position}}</span>
  {{#if canEdit}}
    <button class="btn btn-link btn-sm" {{action "toggleEditing"}}>
      {{fa-icon "pencil"}}
    </button>
  {{/if}}
  {{#if showDetails}}
    <p>{{wrapper.positionDetail}}</p>
  {{/if}}

{{/if}}