{{#ui/ui-card}}
  {{#block-slot "title"}}
    {{bill.stateId}} <small>{{bill.sponsor.fullName}} <span class="badge badge-default">{{bill.sponsor.party}}</span></small>
  {{/block-slot}}
  {{#block-slot "content"}}
    <div class="row">
      <div class="col-md-3">
        <h5>Position</h5>
        {{wrappers/wrapper-position wrapper=wrapper canEdit=true}}
        <h5>Summary</h5>
        {{wrappers/wrapper-summary wrapper=wrapper}}

        <p>
          <a href="{{bill.remoteUrl}}" class="btn btn-secondary">View Source</a>
        </p>

      </div>
      <div class="col-md-3">
        <h5>Source Documents</h5>
        <div class="list-group">
          {{#each bill.documents as |doc|}}
            <div class="list-group-item">
              {{doc.title}}
              <a href="{{doc.url}}" target="_blank" class="btn btn-secondary btn-sm">
                View
              </a>
            </div>
          {{else}}
            <div class="list-group-item">
              No Public Documents Available
            </div>
          {{/each}}
        </div>

      </div>
      <div class="col-md-6">
        <h5>Notes</h5>
      </div>
    </div>
  {{/block-slot}}

{{/ui/ui-card}}