{{#if isEditing}}
  <div class="input-group">
    {{textarea class="form-control" rows=3 value=displaySummary}}
    <span class="input-group-button">
      <div class="btn-group-vertical">
        <button class="btn btn-primary" {{action "saveSummary" displaySummary}}>Save</button>
        <button class="btn btn-secondary" {{action "toggleEditing"}}>Cancel</button>
      </div>
    </span>
  </div>

{{else}}
  {{#if summary}}
    {{summary}}
  {{else}}
    {{wrapper.bill.title}}
  {{/if}}
  {{#if canEdit}}
    <button class="btn-link btn btn-sm" {{action "toggleEditing"}}>{{fa-icon "pencil"}}</button>
  {{/if}}
{{/if}}
