{{#if isEditing}}
  {{#power-select
    options=positions
    selected=position
    searchEnabled=false
    onchange=(action (mut position))
    as |pos|
  }}
    {{pos}}
  {{/power-select}}

  <div class="form-group">
    <label for="exampleTextarea">Position Details</label>
    {{input value=wrapper.positionDetails class="form-control"}}
  </div>

  {{#bs-button onClick=(action "save") type="primary"}}Update{{/bs-button}}

{{else}}
  <span class="badge badge-{{positionModifier}}">{{fa-icon positionIcon}} {{position}}</span>
  {{#if canEdit}}
    {{fa-icon "pencil" click=(action "toggleEditing")}}
  {{/if}}
  {{#if showDetails}}
    <p>{{wrapper.positionDetail}}</p>
  {{/if}}

{{/if}}