{{ui-page-property model.group.title property="title"}}

{{#global/page-title-actions}}
  {{#link-to "groups.detail.bills" model.group.id}}
    {{fa-icon "floppy-o"}} Saved Bills
  {{/link-to}}
  {{#link-to "groups.detail.pages" model.group.id class="btn btn-link"}}
    {{fa-icon "paper-plane"}} Updates
  {{/link-to}}
  {{#link-to "bills.add" class="btn btn-link"}}
    {{fa-icon "briefcase"}} Add Draft
  {{/link-to}}

{{/global/page-title-actions}}


<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-6"></div>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2">
    {{#bs-tab as |tab|}}
      {{#tab.pane title="Overview"}}
        {{#ui/ui-box as |b|}}
          {{#b.body}}
            <div class="media">
              {{ember-initials
                image=model.group.avatar
                name=model.group.title
                defaultName="?"
                seedText=model.group.title
                textColor="white"
                fontSize=45
                fontWeight=100
                fontFamily="Helvetica Neue Light, Arial, sans-serif"
                size=140
                class="mr-3 w-25 img-fluid"
              }}
              <div class="media-body">
                {{#if model.group.description}}
                  <h5 class="mt-0">Description</h5>
                  <p>{{model.group.description}}</p>
                {{/if}}

                {{#if model.group.userList.length}}
                  <h5>Users</h5>
                  {{groups/table-favorites value=model.group.userList}}
                {{/if}}

                {{#if model.group.assigned_to}}
                  <h5>Assigned To</h5>
                  <ul>
                    {{#each model.group.assigned_to as |user|}}
                      <li>{{user.title}}</li>
                    {{/each}}
                  </ul>
                {{/if}}
              </div>

              {{bills/quick-add group=model.group class="btn-link"}}

            </div>

          {{/b.body}}
        {{/ui/ui-box}}

        {{#ui/ui-box class="mt-3" as |b|}}
          {{#b.header}}
            Saved Bill Overview
          {{/b.header}}
          {{#b.body}}
            {{groups/group-stats group=model.group}}
          {{/b.body}}
        {{/ui/ui-box}}

      {{/tab.pane}}
      {{#tab.pane title="Contacts"}}
        {{groups/-users/list group=model.group}}
      {{/tab.pane}}
      {{#tab.pane title="Recent Bills"}}
        {{#ui/ui-box as |b|}}
          {{#b.header}}Recently Saved Bills{{/b.header}}
          {{#b.body}}
            {{#bs/list-group class="flush-group-list" as |g|}}
              {{#g.item tagName="div" class="row d-flex"}}
                <div class="col-md-2">
                  <strong>Number</strong>
                </div>
                <div class="col-md-2">
                  <strong>Date</strong>
                </div>
                <div class="col-md-4">
                  <strong> Status</strong>
                </div>
                <div class="col-md-3">
                  <strong>Position</strong>
                </div>
              {{/g.item}}
              {{#each model.latest as |wrapper|}}
                {{#g.item tagName="div" class="row d-flex"}}
                  <div class="col-md-2">
                    {{wrapper.bill.stateId}}
                  </div>
                  <div class="col-md-2">
                    {{tools/date-display wrapper.bill.lastActionDate}}
                  </div>
                  <div class="col-md-4">
                    {{wrapper.bill.remoteStatus}}
                  </div>
                  <div class="col-md-2">
                    {{wrappers/wrapper-position wrapper=wrapper canEdit=false}}
                  </div>
                  <div class="col-md-2 text-right">
                    {{#link-to "groups.detail.bill.detail" wrapper.id}}View{{/link-to}}
                  </div>
                {{/g.item}}
              {{/each}}
            {{/bs/list-group}}
          {{/b.body}}
        {{/ui/ui-box}}
      {{/tab.pane}}
      {{#tab.pane title="Edit"}}
        {{groups/group-form group=model.group organization=model.organization}}
      {{/tab.pane}}
    {{/bs-tab}}

  </div>
</div>
