{{ui-page-property model.group.title property="title"}}

{{#global/page-title-actions}}
  {{#link-to "groups.detail.bills" model.group.id class="btn btn-primary"}}
    {{fa-icon "file-text"}} Saved Bills
  {{/link-to}}
  {{#link-to "reports.client" model.group.id class="btn btn-primary"}}
    {{fa-icon "pencil-square-o"}} Reports
  {{/link-to}}
  {{#link-to "bills.add" class="btn btn-primary"}}
    {{fa-icon "briefcase"}} Add Draft
  {{/link-to}}
  {{bills/quick-add group=model.group}}

{{/global/page-title-actions}}

<div class="row">
  <div class="col-md-8 offset-md-2">
    {{#bs-tab as |tab|}}
      {{#tab.pane title="Overview"}}
        {{#ui/ui-box as |b|}}
          {{#b.body}}
            <div class="media">
              {{ember-initials
                image=model.group.avatar
                name=model.group.title
                defaultName="?"
                seedText=model.group.title
                textColor="white"
                fontSize=45
                fontWeight=100
                fontFamily="Helvetica Neue Light, Arial, sans-serif"
                size=140
                class="mr-3 w-25 img-fluid"
              }}
              <div class="media-body">
                {{#if model.group.description}}
                  <h5 class="mt-0">Description</h5>
                  <p>{{model.group.description}}</p>
                {{/if}}

                {{#if model.group.userList.length}}
                  <h5>Users</h5>
                  {{groups/table-favorites value=model.group.userList}}
                {{/if}}

                {{#if model.group.assigned_to}}
                  <h5>Assigned To</h5>
                  <ul>
                    {{#each model.group.assigned_to as |user|}}
                      <li>{{user.title}}</li>
                    {{/each}}
                  </ul>
                {{/if}}
              </div>
            </div>

          {{/b.body}}
        {{/ui/ui-box}}

        {{#ui/ui-box as |b|}}
          {{#b.header}}Recently Updated{{/b.header}}
          {{#b.body}}
            {{#bs/list-group class="flush-group-list" as |g|}}
              {{#each model.latest as |wrapper|}}
                {{#g.item tagName="div" class="d-flex justify-content-between"}}

                  {{wrapper.bill.stateId}}
                  <span>
               <strong>Status:</strong>
                    {{wrapper.bill.remoteStatus}}
              </span>
                  {{wrappers/wrapper-position wrapper=wrapper canEdit=false}}
                  {{#link-to "groups.detail.bill.detail" wrapper.id}}View{{/link-to}}
                {{/g.item}}
              {{/each}}
            {{/bs/list-group}}
          {{/b.body}}
        {{/ui/ui-box}}

        {{#ui/ui-box class="mt-3" as |b|}}
          {{#b.header}}
            Saved Bill Overview
          {{/b.header}}
          {{#b.body}}
            {{groups/group-stats group=model.group}}
          {{/b.body}}
        {{/ui/ui-box}}

      {{/tab.pane}}
      {{#tab.pane title="Edit"}}
        {{groups/group-form group=model.group organization=model.organization}}
      {{/tab.pane}}
    {{/bs-tab}}

  </div>
</div>
