{{#ui/ui-box as |b|}}
  {{#b.header}}
    {{ember-initials
      image=group.avatar
      name=group.title
      defaultName="?"
      seedText=group.title
      textColor="white"
      fontSize=45
      fontWeight=100
      fontFamily="Helvetica Neue Light, Arial, sans-serif"
      size=40
      class="img-thumbnail rounded-circle mr-3"
    }}
    {{group.title}}

  {{/b.header}}
  {{#b.body}}
    <div class="row justify-content-between px-2">
      {{#if actionsCount}}
        {{#bs/link-button "todos" (query-params group=group.id) type="primary" class="pull-right btn-sm"}}
          To-Do's <span class="badge badge-light">{{actionsCount}}</span>
        {{/bs/link-button}}

      {{/if}}
      {{#bs/link-button "groups.detail.index" group.id type="light" class="btn-sm"}}{{fa-icon "address-book"}} View{{/bs/link-button}}
      {{#bs/link-button "groups.detail.bills" group.id type="light" class="btn-sm"}}{{fa-icon "floppy-o"}} Saved Bills{{/bs/link-button}}
      {{#bs/link-button "reports.client" group.id type="light" class="btn-sm"}}{{fa-icon "file-text"}} Reports{{/bs/link-button}}
    </div>
  {{/b.body}}
{{/ui/ui-box}}
