{{#each clients as |group|}}
  <div class="list-group-item d-flex justify-content-between">
    {{#link-to "groups.detail" group.id}}{{group.title}}{{/link-to}}
    <div class="btn-group btn-group-sm">
      {{#link-to "groups.detail.bills" group.id class="btn btn-outline-secondary"}}{{fa-icon "file-text"}}{{/link-to}}
      {{#link-to "groups.detail.index" group.id class="btn btn-outline-secondary"}}{{fa-icon
        "pencil-square-o"}}{{/link-to}}
      {{#link-to "reports.client" group.id class="btn btn-outline-secondary"}}{{fa-icon "map"}}{{/link-to}}
    </div>
  </div>
{{else}}
  {{#link-to "groups.index" class="list-group-item list-group-item-action"}}
    No Assigned Clients - View All
  {{/link-to}}
{{/each}}
