{{#each actionList as |record|}}
  {{actions/action-view model=record}}
{{else}}
  {{#if fetchRecords.isRunning}}
    {{ui/loading-animation}}
  {{/if}}
{{/each}}

{{#if recordsComplete}}
  
  {{#ui/ui-box class="w-100" as |b|}}
    {{#b.header class="text-white bg-primary"}}
      {{fa-icon "check-square-o"}} All Caught Up!
    {{/b.header}}
    {{#b.body}}

      <p class="card-text"> Nothing new here, check back later or watch your email for updates. 👍</p>
      <p class="card-text">Here are some things to do in the meantime:</p>
      <ul class="list-group list-group-flush">
        {{#link-to "committees.meetings" class="list-group-item list-group-item-action"}}{{fa-icon "calendar"}}
          View Committee Schedule{{/link-to}}
        {{#link-to "reports.index" class="list-group-item list-group-item-action"}}
          {{fa-icon "map"}}
          Manage Reports
        {{/link-to}}
        {{#link-to "groups.index" class="list-group-item list-group-item-action"}}
          {{fa-icon "address-book"}} Add {{features.clientLabelPlural}}
        {{/link-to}}
        {{#link-to "organization.team" class="list-group-item list-group-item-action"}}
          {{fa-icon "users"}} Invite Teammates
        {{/link-to}}
        {{#link-to "game" class="list-group-item list-group-item-action"}}
          {{fa-icon "puzzle-piece"}} Have Fun
        {{/link-to}}
      </ul>
    {{/b.body}}
  {{/ui/ui-box}}
{{/if}}

