{{#if topNavPosition}}
  {{#bills/bill-search as |s|}}
    {{s.input transition=true buttonType="outline-secondary"}}
    {{#if s.searching}}
      {{ui/inline-loading}}
    {{/if}}
  {{/bills/bill-search}}
{{else}}
  <div class="hamburger-wrapper">
    <a class="hamburger" {{action "toggleMenuState" on="click"}}><i aria-hidden="true" class="fa fa-bars"></i></a>
  </div>

  {{#bills/bill-search as |s|}}
    {{s.input transition=true buttonType="outline-secondary"}}
    {{#if s.searching}}
      {{ui/inline-loading}}
    {{/if}}
  {{/bills/bill-search}}

  {{#bs-nav type="pills" class="dynamic-nav-menu" as |nav|}}
    {{#nav.item}}
      {{#nav.link-to "groups"}}
        {{fa-icon "id-card"}}<span class="d-none d-md-block"> {{features.clientLabelPlural}}</span>
      {{/nav.link-to}}
    {{/nav.item}}

    {{#nav.item}}
      {{#nav.link-to "bills.saved"}}
        {{fa-icon "folder-open"}}<span class="d-none d-md-block"> Saved Bills</span>
      {{/nav.link-to}}
    {{/nav.item}}

    {{#nav.item class="d-none d-md-block"}}
      {{#nav.link-to "bills"}}
        {{fa-icon "file-text"}} <span class="d-none d-md-block"> All Bills</span>
      {{/nav.link-to}}
    {{/nav.item}}

    {{#nav.item}}
      {{#nav.link-to "reports"}}
        {{fa-icon "map"}} <span class="d-none d-md-block"> Reports</span>
      {{/nav.link-to}}
    {{/nav.item}}
  {{/bs-nav}}

{{/if}}