<div class="hamburger-wrapper">
  <a class="hamburger" {{action "toggleMenuState" on="click"}}><i aria-hidden="true" class="fa fa-bars"></i></a>
</div>
<div class="brand">
  {{#link-to "dashboard"}}
    <img src="/assets/images/capitolzenwordmark_logo.svg" width="175px"/>
  {{/link-to}}
</div>

{{#bs-nav class="user-menu-wrapper" type="" as |nav|}}
  {{#nav.dropdown tagName="li" class="nav-item" as |dd|}}
    {{#dd.toggle}}
      {{user/user-avatar user=currentUser.user size=26}} <span class="d-none d-md-inline">{{currentUser.user.name}}</span>
    {{/dd.toggle}}
    {{#dd.menu align="right" as |menu|}}
      {{#menu.item}}
        <span class="dropdown-item-title">
              Organization
          </span>
      {{/menu.item}}
      {{#menu.item}}
        {{#nav.link-to "organization.index"}}Edit{{/nav.link-to}}
      {{/menu.item}}
      {{#menu.item}}
        {{#nav.link-to "organization.team"}}Team{{/nav.link-to}}
      {{/menu.item}}
      {{#menu.item}}
        {{#nav.link-to "organization.billing"}}Billing{{/nav.link-to}}
      {{/menu.item}}
      {{#menu.item}}
        <span class="dropdown-item-title">
              My Personal Information
          </span>
      {{/menu.item}}
      {{#menu.item}}
        {{#nav.link-to "user.edit"}}My Profile{{/nav.link-to}}
      {{/menu.item}}
      {{menu.divider}}
      {{#menu.item}}
        <a href="#" class="dropdown-item" {{action "invalidateSession"}}>Logout</a>
      {{/menu.item}}
    {{/dd.menu}}
  {{/nav.dropdown}}

{{/bs-nav}}
