{{#bs-form model=changeset onSubmit=(action "submit") as |form|}}
  {{#ui/ui-card}}
    {{#block-slot 'content'}}
      <fieldset>
        <legend>General</legend>
        {{form.element label="Name" controlType="text" property="name"}}
        <div class="row">
          {{#if org.logo}}
            <div class="col-3">
              <img src="{{org.logo}}" alt="{{org.name}} Logo" class="img-thumbnail img-fluid">
            </div>
          {{/if}}
          <div class="col-6">
            <p><strong>Organization Logo</strong></p>
            {{#if changeLogo}}
              {{tools/upload-tool group=model accept="image/*" resultAction=(action "handleResponse") class="mb-1"}}
            {{else}}
              <p><strong>Logo</strong></p>
            {{/if}}
            {{#if org.logo}}
              <p>
                <button class="btn btn-secondary btn-sm" {{action "changeLogo"}}>
                  {{if changeLogo "Cancel" "Change Logo"}}
                </button>
              </p>
            {{/if}}
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Billing</legend>
        {{form.element label="Billing Contact Name" controlType="text" property="billing_name"}}
        {{form.element label="Billing Email" controlType="text" property="billing_email"}}
        {{form.element label="Billing Phone" controlType="text" property="billing_phone"}}
        {{#form.group}}
          {{form.element label="Billing Address" controlType="text" property="billing_address_one"}}
          {{form.element label="Address 2" controlType="text" property="billing_address_two"}}
          <div class="row">
            <div class="col-md-6">
              {{form.element label="City" controlType="text" property="billing_city"}}
            </div>
            <div class="col-md-3">
              {{form.element label="State" controlType="text" property="billing_state"}}
            </div>
            <div class="col-md-3">
              {{form.element label="Zip Code" controlType="text" property="billing_zip_code"}}
            </div>
          </div>
        {{/form.group}}
      </fieldset>

    {{/block-slot}}
    {{#block-slot 'footer'}}
      {{bs-button defaultText="Save Organization" pendingText="Saving..." type="primary" buttonType="submit"}}
    {{/block-slot}}
  {{/ui/ui-card}}
{{/bs-form}}

