

{{#ui/ui-box as |b|}}
  {{#b.header}}
    {{#if isEditing}}
      Edit
    {{else}}
      {{name}}
    {{/if}}
  {{/b.header}}

  {{#unless isEditing}}
    {{#b.body}}
      <h6 class="card-subtitle mb-2 text-muted">Modified: {{tools/date-display modified}}</h6>
      <p class="card-text">{{description}}</p>
    {{/b.body}}
    {{#b.footer}}
      <a href="{{url}}" class="btn btn-primary text-white" target="_blank"> {{fa-icon "download"}} View</a>
      {{#bs-button type="light" onClick=(action "toggleEditing")}}Edit{{/bs-button}}

    {{/b.footer}}
  {{else}}
  {{#bs-form model=changeset onSubmit=(action "submit") as |form|}}
    {{#b.body}}
      {{form.element controlType="text" label="Name" property="name"}}
      {{form.element controlType="textarea" label="description" property="description"}}
    {{/b.body}}
    {{#b.footer}}
      {{bs-button defaultText="Update" type="primary" buttonType="submit"}}
      {{bs-button defaultText="Delete" type="danger" onClick=(action "deleteFile") class="pull-right"}}
    {{/b.footer}}
  {{/bs-form}}
  {{/unless}}

{{/ui/ui-box}}
