
{{#ui/ui-box as |b|}}

  {{#b.header}}
    {{#if isEditing}}
      Edit
    {{else}}
      {{name}}   <strong class="small text-muted">Modified: {{tools/date-display modified}}</strong>
    {{/if}}
  {{/b.header}}

  {{#unless isEditing}}
    {{#b.body}}
      <div class="media">
        {{#if previewSrc}}
          <img src="{{previewSrc}}" class="img-fluid w-25 img-thumbnail mr-3" alt="File Preview Image">
        {{/if}}
        <div class="media-body">
          <p class="card-text">{{description}}</p>
        </div>
      </div>

    {{/b.body}}
    {{#b.footer}}
      <a href="{{url}}" class="font-weight-bold" target="_blank"> {{fa-icon "download"}} View</a>
      {{#bs-button type="link" onClick=(action "toggleEditing")}}Edit{{/bs-button}}

    {{/b.footer}}
  {{else}}
  {{#bs-form model=changeset onSubmit=(action "submit") as |form|}}
    {{#b.body}}
      {{form.element controlType="text" label="Name" property="name"}}
      {{form.element controlType="textarea" label="description" property="description"}}
    {{/b.body}}
    {{#b.footer}}
      {{#bs-button type="primary" buttonType="submit"}}
        {{fa-icon "save"}} Save
      {{/bs-button}}
      {{bs-button defaultText="Cancel" type="link" onClick=(action "toggleEditing")}}
      {{bs-button defaultText="Delete" type="outline-danger" onClick=(action "deleteFile") class="pull-right"}}
    {{/b.footer}}
  {{/bs-form}}
  {{/unless}}

{{/ui/ui-box}}
