{{user/user-avatar user=invite.user}}
<div class="user-info">
  <h6>{{invite.email}}</h6>
  <p>
    {{invite.status}}
  </p>
</div>

<div class="user-actions">
  <a href=""  {{action "inviteAction" invite 'resend'}}>Resend Invite Email</a>
  -
  <a href="" {{action "deleteInvite" invite}}>Delete Invite</a>
</div>
