{{#bs-button onClick=(action "openInviteModal") type="success" class="mb-2"}}{{fa-icon "users"}} Invite user{{/bs-button}}


{{#bs-tab as |tab|}}
  {{#tab.pane title="Users"}}
    {{#if users}}
      {{#ui/ui-card}}
        {{#block-slot 'content'}}
          {{#each users as |user index|}}
            {{user/user-summary user=user}}
          {{else}}
            <h3 class="no-things">Organization has no users.</h3>
          {{/each}}
        {{/block-slot}}
      {{/ui/ui-card}}
    {{/if}}
  {{/tab.pane}}
  {{#tab.pane title="Unclaimed Invites"}}
    {{#if invites}}
      {{#ui/ui-card}}
        {{#block-slot 'content'}}
          {{#each invites as |invite index|}}
            {{invite/invite-summary invite=invite updateInvite='updateUserInvite'}}
          {{else}}
            <h3 class="no-things">Organization has no unclaimed invites.</h3>
          {{/each}}
        {{/block-slot}}
      {{/ui/ui-card}}
    {{/if}}
  {{/tab.pane}}
{{/bs-tab}}


{{#bs-modal open=createInviteModalEnabled
            onSubmit=(action "inviteNewUsersSubmit")
            onHidden=(action "closeInviteModal") as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">{{fa-icon "users"}} Invite New User</h4>
  {{/modal.header}}

  {{#modal.body}}
    {{#bs-form onSubmit=(action "inviteNewUsersSubmit") model=newInvite as |form|}}
      {{form.element controlType="text" label="Name" placeholder="Their Name" property="metadata.name"}}

      {{#form.element controlType="power-select" label="Role" property="metadata.organization_role"  options=organizationRoles as |el|}}
        {{el.control searchEnabled=false}}
      {{/form.element}}

      {{form.element controlType="email" label="Email" placeholder="email@yourcompany.com" property="email"}}
    {{/bs-form}}
  {{/modal.body}}

  {{#modal.footer as |footer|}}
    {{#bs-button onClick=(action modal.close) type="secondary"}}Cancel{{/bs-button}}
    {{#bs-button onClick=(action modal.submit) type="success"}}Invite User{{/bs-button}}
  {{/modal.footer}}

{{/bs-modal}}
