<div class="justify-content-between d-flex">
  <div>
    {{fa-icon "user"}}
    {{invite.email}}
  </div>

  <div>
    <button class="btn btn-sm btn-secondary" {{action "inviteAction" invite 'resend'}}>
      {{fa-icon "share-square-o"}} Resend Invite Email
    </button>

    <button class="btn btn-sm btn-danger" {{action "deleteInvite" invite}}>
      {{fa-icon "trash"}} Delete Invite
    </button>
  </div>
</div>
<hr class="mb=1">

