{{#if isLoading}}
  {{ui/loading-animation}}
{{/if}}
{{#if recordsLoaded}}

  {{#bs-accordion selected=firstObject.id as |acc|}}
    {{#each wrappers as |wrapper|}}
      {{#acc.item value=wrapper.id as |aitem|}}
        {{#aitem.title}}
          <div class="d-flex">
            <span>{{wrapper.bill.stateId}}</span>
          </div>
        {{/aitem.title}}
        {{#aitem.body}}
          <div class="row">
            <div class="col-md-6">
              <dl>
                <dt>Position</dt>
                <dd>{{wrappers/wrapper-position wrapper=wrapper canEdit=false}}</dd>
                <dt>Summary</dt>
                <dd>{{wrapper.displaySummary}}</dd>
                <dt>Bill Text</dt>
                <dd><a href="{{wrapper.bill.remoteUrl}}" target="_blank">View {{fa-icon "external-link"}}</a>
                </dd>
              </dl>

              {{bills/doc-list docs=wrapper.bill.documents class="mt-2"}}
              {{bills/bill-cosponosrs wrapper.bill class="mt-2"}}
            </div>
            <div class="col-md-6">
              {{#if wrapper.notes.length}}
                <h6>Comments</h6>
                <div class="note-list-wrapper">
                  {{#each wrapper.notes as |note|}}
                    {{tools/note-component note=note canEditNote=false}}
                  {{/each}}
                </div>
              {{/if}}
            </div>
          </div>
        {{/aitem.body}}
      {{/acc.item}}
    {{/each}}
  {{/bs-accordion}}
{{/if}}

