
{{#if isLoading}}
  {{ui/loading-animation}}
{{/if}}
{{#if recordsLoaded}}
  {{#slide-deck as |d|}}
    <div class="row">
      {{#unless isPreview}}
        <div class="col-md-4">
          {{#ui/ui-box as |b|}}
            {{#b.header}}
              Saved Bills
            {{/b.header}}
            {{#b.body}}
              {{#bs/list-group as |g|}}
                {{#each d.slides as |s|}}
                  {{#g.action onClick=(action d.show s.name) disabled=s.isActive}}
                    {{s.name}}
                  {{/g.action}}
                {{/each}}
              {{/bs/list-group}}
            {{/b.body}}
          {{/ui/ui-box}}
        </div>
      {{/unless}}
      <div class="flex-grow-1">
        {{#each wrappers as |wrapper|}}
          {{#d.slide name=wrapper.bill.stateId}}
            {{#ui/ui-box as |b|}}
              {{#b.header}}
                {{wrapper.bill.stateId}} {{wrapper.sponsorDisplay}}
              {{/b.header}}
              {{#b.body}}
                <div class="row">
                  <div class="col-md-6">
                    <dl>
                      <dt>Position</dt>
                      <dd>{{wrappers/wrapper-position wrapper=wrapper canEdit=false}}</dd>
                      <dt>Summary</dt>
                      <dd>{{wrapper.displaySummary}}</dd>
                      <dt>Bill Text</dt>
                      <dd><a href="{{wrapper.bill.remoteUrl}}" target="_blank">View {{fa-icon "external-link"}}</a>
                      </dd>
                    </dl>

                    {{bills/doc-list docs=wrapper.bill.documents class="mt-2"}}
                    {{bills/bill-cosponosrs wrapper.bill class="mt-2"}}

                  </div>
                  <div class="col-md-6">
                    {{#if wrapper.notes.length}}
                      <h6>Comments</h6>
                      <div class="note-list-wrapper">
                        {{#each wrapper.notes as |note|}}
                          {{tools/note-component note=note canEditNote=false}}
                        {{/each}}
                      </div>
                    {{/if}}
                  </div>
                </div>

              {{/b.body}}
              {{#b.footer class="d-flex justify-content-center"}}
                <button class="btn btn-link" {{action d.prev}} disabled={{d.prevDisabled}}>{{fa-icon
                  "chevron-left"}}</button>
                <button class="btn btn-link" {{action d.next}} disabled={{d.nextDisabled}}>{{fa-icon
                  "chevron-right"}}</button>
              {{/b.footer}}
            {{/ui/ui-box}}
          {{/d.slide}}
        {{/each}}
      </div>
    </div>


  {{/slide-deck}}
{{/if}}