{{ui-page-property "Updates for" model.group.title property="title"}}
{{#global/page-title-actions}}

  {{#link-to "groups.detail" model.group.id}}
    {{fa-icon "address-book"}} {{features.clientLabel}}
  {{/link-to}}

{{/global/page-title-actions}}
{{log model}}
<div class="row">
  <div class="col-md-8">
    {{#each model.pages as |page|}}
      {{pages/-admin/preview page=page}}

    {{/each}}
  </div>
  <div class="col-md-4">
    {{updates/update-stream isAdmin=true group=model.group}}
  </div>
</div>