<div class="card-body">
  <div class="subscription-icon">
    {{fa-icon plan.icon}}
  </div>
  <h5 class="card-title">{{plan.name}}</h5>

  <ul class="plan-points list-group">
    {{#each plan.points as |note|}}
      <li class="list-group-item"> {{fa-icon note.icon}} {{note.label}}</li>
    {{/each}}
  </ul>


</div>

<div class="card-footer plan-action">

  <div class="plan-cost">
    {{plan.cost}}
  </div>

  {{#if isCurrentPlan}}
    {{#if (eq isCurrentPlan isSelectedPlan)}}
      {{#bs-button type="primary" disabled=true}}
        Current Plan
      {{/bs-button}}
    {{else}}
      {{#bs-button type="primary" onClick=(action "selectPlan" plan.id)}}
        Select
      {{/bs-button}}
    {{/if}}

  {{else if isSelectedPlan}}
    {{#bs-button type="primary" disabled=true}}
      New Plan
    {{/bs-button}}
  {{else}}
    {{#bs-button type="primary" onClick=(action "selectPlan" plan.id)}}
      Select
    {{/bs-button}}
  {{/if}}
</div>