{{ui-page-property "Team" property="title"}}

{{#global/page-title-actions}}
  {{invite/invite-create organization=model.organization invites=model.invites}}
{{/global/page-title-actions}}

<div class="row">
  <div class="col-xl-8 offset-xl-2">
    {{#bs-tab as |tab|}}
      {{#tab.pane title="Users"}}
        {{#if model.users}}
          {{#ui/ui-box as |b|}}
            {{#b.body}}
              <div class="list-group">
                {{#each model.users as |user|}}
                  {{user/user-summary user=user}}
                {{/each}}
              </div>
            {{/b.body}}
          {{/ui/ui-box}}
        {{else}}
          <h3 class="no-things">Organization has no users.</h3>
        {{/if}}
      {{/tab.pane}}
      {{#tab.pane title="Unclaimed Invites"}}
        {{#ui/ui-box as |b|}}
          {{#b.body}}
            {{#if model.invites}}
              <div class="list-group">
                {{#each model.invites as |invite index|}}
                  {{invite/invite-summary invite=invite updateInvite='updateUserInvite'}}
                {{/each}}
              </div>
            {{else}}
              <p class="no-things">Organization has no unclaimed invites.</p>
            {{/if}}
          {{/b.body}}
        {{/ui/ui-box}}

      {{/tab.pane}}
    {{/bs-tab}}
  </div>
</div>
