{{#if isEditing}}
  {{tools/text-editor content=note.doc docId=note.id saveAction=(action "saveNote") deleteAction=(action "deleteNote") cancelAction=(action "toggleAddNote")}}
{{else}}
  <div class="note-header clearfix">
    {{#if canEditNote}}
      <button class="pull-right note-edit-button btn btn-link btn-sm" {{action "editNote"}}>
        {{fa-icon "pencil"}} Edit
      </button>
    {{/if}}
    <em>
      <small>{{tools/date-display note.timestamp}} {{note.user.name}} writes:</small>
    </em>
  </div>


  <hr class="my-1">
  <div class="note-wrapper mb-1">
    {{#if note.doc}}
      {{render-mobiledoc mobiledoc=note.doc}}
    {{else}}
      <em>No text for this note.</em>
    {{/if}}
  </div>
{{/if}}