{{#mobiledoc-editor mobiledoc=content
                    on-change=(action "mobileDocUpdated")
                    class="note-editor d-flex flex-column-reverse"
as |editor|}}
  <div class="toolbar d-flex justify-content-between p-1">
    <div class="col-4">
      {{#mobiledoc-markup-button editor=editor for="strong" class="btn-link"}}
        {{fa-icon "bold"}}
      {{/mobiledoc-markup-button}}
      {{#mobiledoc-markup-button editor=editor for="em" class="btn-link"}}
        {{fa-icon "italic"}}
      {{/mobiledoc-markup-button}}
      {{#mobiledoc-section-button editor=editor for="ul" class="btn-link"}}
        {{fa-icon "list"}}
      {{/mobiledoc-section-button}}
      {{#mobiledoc-section-button editor=editor for="ol" class="btn-link"}}
        {{fa-icon "list-ol"}}
      {{/mobiledoc-section-button}}
    </div>
    <div class="col-4 pt-1">
      <div class="pull-right btn-group btn-group-sm">
        <button class="btn btn-primary" {{action "saveDocument"}}>{{if isNew "Add" "Save"}}</button>
        {{#unless isNew}}
          <button class="btn btn-secondary" {{action "cancelDocument"}}>Cancel</button>
          <button class="btn btn-warning" {{action "deleteDocument"}}>Delete</button>
        {{/unless}}
      </div>
    </div>
  </div>
{{/mobiledoc-editor}}

