<div class="text-editor-wrapper" onclick={{action "focusEditor"}}>

  {{#mobiledoc-editor mobiledoc=content
                      spellcheck=true
                      cards=cardComponentList
                      on-change=(action "mobileDocUpdated")
                      did-create-editor=(action "didCreateEditor")
                      class="note-editor d-flex flex-column-reverse"
  as |editor|}}
    <div class="toolbar d-flex justify-content-between p-1">
      <div class="col-4">
        <div class="btn-group">
          {{#mobiledoc-markup-button editor=editor for="strong" class="btn btn-link"}}
            {{fa-icon "bold"}}
          {{/mobiledoc-markup-button}}
          {{#mobiledoc-markup-button editor=editor for="em" class="btn btn-link"}}
            {{fa-icon "italic"}}
          {{/mobiledoc-markup-button}}
          {{#bs-dropdown as |dd|}}
            {{#mobiledoc-section-button editor=editor class="btn btn-link" for="h3"}}
              {{fa-icon "header"}}
            {{/mobiledoc-section-button}}
            {{#dd.button type="link"}}{{/dd.button}}
            {{#dd.menu as |menu|}}
              {{#menu.item}}
                {{#mobiledoc-section-button editor=editor for="ul" class="btn btn-link"}}
                  {{fa-icon "list"}} List
                {{/mobiledoc-section-button}}
              {{/menu.item}}
              {{#menu.item}}
                {{#mobiledoc-section-button editor=editor for="ol" class="btn btn-link"}}
                  {{fa-icon "list-ol"}} Numbered List
                {{/mobiledoc-section-button}}
              {{/menu.item}}
            {{/dd.menu}}
          {{/bs-dropdown}}

          {{#bs-dropdown as |dd|}}
            {{#dd.button type="link"}}{{fa-icon "thumb-tack"}}{{/dd.button}}
            {{#dd.menu as |menu|}}
              {{#each cardList as |card|}}
                {{#menu.item}}
                  {{#bs-button type="link" onClick=(action "addCard" card)
                               class="font-weight-bold"}}
                    {{#if (eq card 'tools/editor/-cards/embedly')}}
                      {{fa-icon "link"}} Embed
                    {{/if}}
                    {{#if (eq card 'tools/editor/-cards/wrapper')}}
                      {{fa-icon "file"}} Bill
                    {{/if}}
                  {{/bs-button}}

                {{/menu.item}}
              {{/each}}
            {{/dd.menu}}
          {{/bs-dropdown}}
          
        </div>
      </div>
      {{#if (or autoSave isNew)}}
        <div class="col-4 pt-1">
          <div class="pull-right btn-group btn-group-sm">
            {{#unless autoSave}}
              <button class="btn btn-primary" {{action "saveDocument"}}>{{if isNew "Add" "Save"}}</button>
            {{/unless}}
            {{#unless isNew}}
              <button class="btn btn-secondary" {{action "cancelDocument"}}>Cancel</button>
              <button class="btn btn-warning" {{action "deleteDocument"}}>Delete</button>
            {{/unless}}
          </div>
        </div>
      {{/if}}
    </div>
  {{/mobiledoc-editor}}
</div>

