{{ui-page-property model.group.title "Reports" property="title"}}
{{#global/page-title-actions}}
  {{#link-to "reports.add" class="btn btn-primary mb-2"}} {{fa-icon "map"}} Create New Report{{/link-to}}
{{/global/page-title-actions}}
{{#each model.reports as |report|}}
  {{#ui/ui-card}}
    {{#block-slot "content"}}
        <div class="clearfix">
          {{#link-to "reports.detail" report.id class="pull-left"}}
            <h5>{{report.title}} <small><span class="badge badge-default">{{moment-format report.created}}</span></small></h5>
          {{/link-to}}
          <div class="btn-group pull-right">
            {{reports/report-download report=report type="primary" }}
            {{reports/report-send report=report type="secondary" }}
          </div>
        </div>
    {{/block-slot}}
  {{/ui/ui-card}}
{{else}}
  {{#ui/ui-card}}
    {{#block-slot "content"}}
      <div class="dflex justify-content-center">
        {{#link-to "reports.add" class="text-centered"}}Create First Report{{/link-to}}
      </div>
    {{/block-slot}}
  {{/ui/ui-card}}
{{/each}}