{{groups/group-header group=model.group}}
{{#link-to "reports.add" class="btn btn-primary"}}{{fa-icon "circle-plus"}} Create New Report{{/link-to}}
{{#ui/ui-card}}
  {{#block-slot "content"}}
    <ul class="list-group">
      {{#each model.reports as |report|}}
        <li class="list-group-item justify-content-between">
          {{#link-to "reports.detail" report.id}}
            {{report.title}}
          {{/link-to}}
          {{reports/report-download report=report type="secondary" size="btn-sm"}}
        </li>
      {{else}}
      No reports yet
    {{/each}}
    </ul>
  {{/block-slot}}

{{/ui/ui-card}}

{{outlet}}
