{{log properties}}
{{outputQuery.query}} = {{outputQuery.value}}
<div class="form-check">
  <label class="form-check-label">
    {{input type="checkbox" checked=isRelationship}}
    Use Relationship
  </label>
</div>
{{#if isRelationship}}
  <div class="row">
    <div class="col-md-6">
      <p><strong>Relationship Name</strong></p>
      {{#power-select
        options=relationships
        selected=selectedRelationship
        onchange=(action (mut selectedRelationship))
      as |rel|
      }}
        {{rel.model}}
      {{/power-select}}
    </div>
    <div class="col-md-6">
      {{#if selectedRelationship}}
        <p><strong>Select Relationship's Property</strong></p>
        {{#power-select
          options=relationshipProps
          selected=selectedRelModelProp
          onchange=(action "setRelationshipFilter")
        as |relProp|
        }}
          {{relProp.name}}
        {{/power-select}}
      {{/if}}
    </div>
  </div>

{{else}}
  <p><strong>Property Name</strong></p>
  {{#power-select
    options=modelProps
    selected=selectedFilterProp
    onchange=(action (mut selectedFilterProp))
    as |prop|
  }}
    {{prop}}
  {{/power-select}}
{{/if}}

{{#if selectedFilterProp}}
  <div>
    <p><strong>Select Operator</strong></p>
    {{selectedOperator.label}}
    {{selectedOperator.value}}
    {{#power-select
      options=availableOperators
      selected=selectedOperator
      onchange=(action (mut selectedOperator))
    as |op|
    }}
      {{op.label}}
    {{/power-select}}
  </div>
{{/if}}

{{#if selectedOperator}}
  <div>
    <p><strong>Select Value</strong></p>
    stuff and things
  </div>
{{/if}}

