{{#bs-form model=changeset onSubmit=(action "register") as |form|}}
  <div class="card-block">
    <h4 class="card-title">Register Now</h4>

    {{form.element controlType="text" label="Your Name" property="name"}}
    {{form.element controlType="text" label="Organization Name" property="organizationName"}}
    {{form.element controlType="email" label="Email" placeholder="Email" property="username"}}
    {{form.element controlType="password" label="Password" placeholder="Password" property="password"
                   helpText="Minimum 8 characters"}}
    {{form.element controlType="password" label="Confirm" placeholder="Confirm" property="confirmPassword"}}
</div>
<div class="card-footer">
  {{bs-button defaultText="Create Account" type="primary" buttonType="submit" class="ceneter-block"}}
  {{#link-to 'anon.login' class="pull-right"}}I already have an account{{/link-to}}
</div>
{{/bs-form}}
