<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2>{{page.title}}</h2>
    </div>
    <div class="col-md-6">
      <div class="media float-md-right">
        {{user/user-avatar user=page.author class="mr-3" size=48 avatarRounded=true}}
        <div class="media-body">
          <h5 class="mt-0">By {{page.author.name}}</h5>
          <h6 class="mt-0" class="font-weight-light">
            {{if page.author.jobTitle model.page.author.jobTitle}} {{page.organization.name}}
          </h6>
        </div>
      </div>
    </div>
  </div>

  <hr>
</div>

{{#if model.description}}
  <div class="container">
    <p class="lead">
      {{model.description}}
    </p>
  </div>
{{/if}}
