
{{#ui/ui-box as |b|}}
  {{#b.body}}
    <div class="media">
      {{user/user-avatar user=update.user class="mr-3" size=48 avatarRounded=true}}
      <div class="media-body">
        <h5 class="mt-0">{{update.title}}</h5>
        <h6 class="mt-0" class="text-muted font-weight-light">{{tools/date-display update.modified}}</h6>
        {{#if update.document.doc}}
          {{render-mobiledoc mobiledoc=update.document.doc}}
        {{/if}}
      </div>
    </div>

  {{/b.body}}


  {{#if (or update.files update.wrappers)}}
    {{#b.footer}}
      <h6>{{fa-icon "paperclip"}} Attachments</h6>
      {{#if update.wrappers}}
        <h6 class="mb-0">Saved Bills</h6>
        {{#bs/list-group class="mt-0" as |g|}}
          {{#each update.wrappers as |wrapper|}}
            {{#g.item class="d-flex justify-content-between small border-0 px-0 bg-0"}}
              <span>{{wrapper.bill.stateId}}</span> <span>{{wrapper.bill.remoteStatus}}</span> {{wrappers/wrapper-position wrapper=wrapper canEdit=false}}
            {{/g.item}}
          {{/each}}
        {{/bs/list-group}}
      {{/if}}
      {{#if update.files}}
        <hr>
        <h6 class="mb-0">Files</h6>
        {{#bs/list-group class="mt-0" as |g|}}
          {{#each update.files as |file|}}
            {{#g.item class="d-flex justify-content-between small border-0 px-0 bg-0"}}
              <span>{{file.name}}</span> <a class="font-weight-bold" href="{{file.url}}"
              target="_blank">Download</a>
            {{/g.item}}
          {{/each}}
        {{/bs/list-group}}
      {{/if}}
    {{/b.footer}}
  {{/if}}
{{/ui/ui-box}}