
{{#ui/ui-box as |b|}}
  {{#b.header}}
    {{update.title}}
  {{/b.header}}

  {{#b.body}}
    {{#if update.document.doc}}
      {{render-mobiledoc mobiledoc=update.document.doc}}
    {{/if}}
  {{/b.body}}

  {{#b.footer}}
    <div class="media">
      {{user/user-avatar user=update.user class="mr-3" size=38 avatarRounded=true}}
      <div class="media-body">
        <p>Prepared by {{update.user.name}}</p>
      </div>
    </div>
  {{/b.footer}}
  {{#if (or update.files update.wrappers)}}
    {{#b.footer}}
      <h6>{{fa-icon "paperclip"}} Attachments</h6>
      {{#if update.wrappers}}
        <h6 class="mb-0">Saved Bills</h6>
        {{#bs/list-group class="mt-0" as |g|}}
          {{#each update.wrappers as |wrapper|}}
            {{#g.link "page.bill" update.page.id wrapper.id class="d-flex justify-content-between small border-0 px-0 bg-0"}}
              <span>{{wrapper.bill.stateId}}</span> <span>{{wrapper.bill.remoteStatus}}</span> {{wrappers/wrapper-position wrapper=wrapper canEdit=false}}
            {{/g.link}}
          {{/each}}
        {{/bs/list-group}}
      {{/if}}
      {{#if update.files}}
        <hr>
        <h6 class="mb-0">Files</h6>
        {{#bs/list-group class="mt-0" as |g|}}
          {{#each update.files as |file|}}
            {{#g.item class="d-flex justify-content-between small border-0 px-0 bg-0"}}
              <span>{{file.name}}</span> <a class="font-weight-bold" href="{{file.url}}"
              target="_blank">Download</a>
            {{/g.item}}
          {{/each}}
        {{/bs/list-group}}
      {{/if}}
    {{/b.footer}}
  {{/if}}
{{/ui/ui-box}}