
{{#ui/ui-box as |b|}}
  {{#b.header}}
    {{update.title}}
  {{/b.header}}

  {{#b.body class="pb-0"}}
    {{#if update.document.doc}}
      {{render-mobiledoc mobiledoc=update.document.doc cardNames=(mobiledoc-card-names)}}
    {{/if}}

    {{#if update.files}}
      <h6>{{fa-icon "paperclip"}} Attachments</h6>
      {{#each update.files as |file|}}
        {{files/file-thumbnail file class="col-6 col-md-3"}}
      {{/each}}
    {{/if}}
  {{/b.body}}

  {{#b.footer}}
    <div class="media">
      {{user/user-avatar user=update.user class="mr-3" size=38 avatarRounded=true}}
      <div class="media-body">
        <p>Prepared by {{update.user.name}}</p>
      </div>
    </div>
  {{/b.footer}}
{{/ui/ui-box}}

