{{ui-page-property "Clients" property="title"}}

{{#global/page-title-actions}}
  {{#link-to "groups.add" class="btn btn-primary"}}
    {{fa-icon "plus"}} Add Client
  {{/link-to}}
  {{#link-to "bills.add" class="btn btn-primary"}}
    {{fa-icon "plus-square"}} Add Draft
  {{/link-to}}
{{/global/page-title-actions}}

<div class="row">
  {{#if (gt model.length 6)}}
    <div class="col-12">
      {{groups/group-table}}
    </div>
  {{else}}
    {{#each model.all as |group|}}
      {{groups/group-preview group=model}}
    {{/each}}
  {{/if}}
</div>

