{{ui-page-property "Groups" property="title"}}

{{#link-to "groups.add" class="btn btn-primary"}}Add Group{{/link-to}}
<div class="row mt-1">
  {{#each model as |group|}}
    <div class="col-lg-6 mt-md-3">
      <div class="card">

        <div class="card-block">
          <h4 class="card-title">
            {{#link-to "groups.detail" group.id class="pull-right btn btn-secondary btn-sm"}}
              View
            {{/link-to}}
            {{#link-to "groups.detail" group.id}}
              {{#if group.logo}}
                <img src="{{group.logo}}" alt="{{group.title}}" class="img-thumbnail w-25">
              {{/if}}
              {{group.title}}
            {{/link-to}}
          </h4>
          {{ui/group-nav group=group view=true}}
            {{#if group.description}}
            <p class="card-text text-muted">{{group.description}}</p>
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
</div>

