{{ui-page-property "Clients" property="title"}}

{{#global/page-title-actions}}
  {{#link-to "groups.add" class="btn btn-primary"}}
    {{fa-icon "plus"}} Add Client
  {{/link-to}}
  {{#link-to "bills.add" class="btn btn-primary"}}
    {{fa-icon "plus-square"}} Add Draft
  {{/link-to}}
{{/global/page-title-actions}}

{{groups/-list/list}}
{{!--
<div class="row row-flex">
  <div class="col-md-2 client-facet-wrapper">
    <div class="client-facet">
      <h6>View As:</h6>
      {{#bs-button-group value=presentation type="radio" onChange=(action (mut presentation)) as |bg|}}
        {{#bg.button type="default" value="grid"}}{{fa-icon "th"}}{{/bg.button}}
        {{#bg.button type="default" value="list"}}{{fa-icon "bars"}}{{/bg.button}}
      {{/bs-button-group}}
    </div>
  </div>
  <div class="col-md-10">
    <div class="row">
      {{#if (gt model.length 6)}}
        <div class="col-12">
          {{groups/group-table}}
        </div>
      {{else}}
        {{#each model as |group|}}
          {{groups/group-summary presentation=presentation group=group}}
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>
--}}