<div class="header clearfix">
  <div class="hamburger-wrapper">
    <a class="hamburger" {{action burger.state.actions.toggle}}><i aria-hidden="true" class="fa fa-bars"></i></a>
  </div>
  <div class="brand">
    {{#link-to "dashboard"}}
      <img src="/assets/images/capitolzenwordmark_logo.svg" width="200px"/>
    {{/link-to}}
  </div>
  <ul class="user-menu-wrapper nav">
    {{notification/notification-center}}
    {{#bs-dropdown tagName="li" class="nav-item" as |dd|}}
      {{#dd.toggle}}
        <i class="fa fa-user"></i> <span class="hidden-sm-down"></span>
      {{/dd.toggle}}
      {{#dd.menu align="right" as |menu|}}

        {{#menu.item}}
          <span class="dropdown-item-title">
              Organization
          </span>
        {{/menu.item}}

        {{#menu.item}}
          {{#menu.link-to 'organization.index'}}Edit{{/menu.link-to}}
        {{/menu.item}}

        {{#menu.item}}
          {{#menu.link-to 'organization.team'}}Team{{/menu.link-to}}
        {{/menu.item}}

        {{#menu.item}}
          {{#menu.link-to 'organization.billing'}}Billing{{/menu.link-to}}
        {{/menu.item}}

        {{#menu.item}}
          <span class="dropdown-item-title">
              My Personal Information
          </span>
        {{/menu.item}}

        {{#menu.item}}
          {{#menu.link-to 'user'}}Edit Profile{{/menu.link-to}}
        {{/menu.item}}

        {{menu.divider}}
        {{#menu.item}}
          <a href="#" class="dropdown-item" {{action "invalidateSession"}}>Logout</a>
        {{/menu.item}}

      {{/dd.menu}}
    {{/bs-dropdown}}
  </ul>
</div>

<div class="app-container">
  {{ui/app-page-title}}
  <div class="content-container container-fluid">
    {{#each flashMessages.queue as |flash|}}
      {{flash-message flash=flash}}
    {{/each}}
    {{outlet}}
  </div>
  {{ui/app-footer}}
</div>