{{#bs-button type=buttonType size=buttonSize onClick=(action "openModal")}}
  {{#if listGroups.isRunning}}
    {{fa-icon "spinner" spin=true}}
  {{else}}
    {{fa-icon "bookmark-o"}}
    {{#if displayText}}
      {{buttonText}}
    {{else}}
      {{#bs-tooltip placement="top"}}Save Bill{{/bs-tooltip}}
    {{/if}}
  {{/if}}
{{/bs-button}}

{{#bs-modal open=openModal onHidden=(action "closeModal") as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Add {{title}} To:
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    {{#if fetchClients.isRunning}}
      {{ui/loading-animation}}
    {{/if}}
    {{#if userClients.length}}
      <h5>My Clients</h5>
      {{#bs/list-group as |g|}}
        {{#each userClients as |row|}}
          {{#g.action class=(if row.selected 'active') onClick=(perform addBillsToClient row)}}
            {{#if row.selected}}
              {{#if addBillToGroup.isRunning}}
                {{ui/inline-loading}}
              {{else}}
                {{fa-icon "check"}}
              {{/if}}
            {{else}}
              {{fa-icon "plus"}}
            {{/if}}
            {{row.content.title}}
          {{/g.action}}
        {{/each}}

      {{/bs/list-group}}
    {{/if}}

    {{#if allClients.length}}
      <h5 class="mt-3">All Clients</h5>
      {{#bs/list-group as |g|}}
        {{#each allClients as |row|}}
          {{#g.action class=(if row.selected 'active') onClick=(perform addBillsToClient row)}}
            {{#if row.selected}}
              {{#if addBillToGroup.isRunning}}
                {{ui/inline-loading}}
              {{else}}
                {{fa-icon "check"}}
              {{/if}}
            {{else}}
              {{fa-icon "plus"}}
            {{/if}}
            {{row.content.title}}
          {{/g.action}}
        {{/each}}

      {{/bs/list-group}}
    {{/if}}


  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button type="light" onClick=(action modal.close)}}Done{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}


{{!--

 <div class="list-group">
      {{#each allClients as |row|}}
        <button class="list-group-item list-group-item-action "
                onclick={{perform addBillsToClient row}}>

        </button>
      {{else}}
        {{#if fetchClients.isRunning}}
          {{ui/inline-loading}}
        {{else}}
          <span class="dropdown-item"><em>Bill saved for all <span class="lowercase">{{features.clientLabelPlural}}</span></em></span>
        {{/if}}
      {{/each}}
    </div>

 --}}