{{#bs-button type=buttonType size=buttonSize onClick=(action "openModal")}}
  {{#if listGroups.isRunning}}
    {{fa-icon "spinner" spin=true}}
  {{else}}
    {{fa-icon "bookmark-o"}}
    {{#if displayText}}
      {{buttonText}}
    {{/if}}
  {{/if}}
{{/bs-button}}

{{#bs-modal open=openModal onHidden=(action "closeModal") as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Add {{bill.stateId}} To:
    </h4>
  {{/modal.header}}
  {{#modal.body}}

    <div class="list-group">
      {{#each groupList as |group|}}
          <button class="list-group-item list-group-item-action {{if group.isSelected "active"}}" onclick={{perform addBillToGroup group}}>
            {{#if group.isSelected}}
              {{#if addBillToGroup.isRunning}}
                {{ui/inline-loading}}
              {{else}}
                {{fa-icon "check"}}
              {{/if}}
            {{else}}
              {{fa-icon "plus"}}
            {{/if}}
            {{group.title}}
          </button>
      {{else}}
        {{#if listGroups.isRunning}}
          {{ui/inline-loading}}
        {{else}}
          <span class="dropdown-item"><em>Bill saved for all clients</em></span>
        {{/if}}
      {{/each}}
    </div>
  {{/modal.body}}
  {{#modal.footer}}
        {{#bs-button type="light" onClick=(action modal.close)}}Done{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}