{{#bs-button type=buttonType size=buttonSize onClick=(action "openModal")}}
  {{#if listGroups.isRunning}}
    {{ui/inline-loading}}
  {{/if}}
  {{fa-icon "bookmark-o"}}
  {{#if displayText}}
    {{buttonText}}
  {{/if}}
{{/bs-button}}
{{log openModal}}
{{#bs-modal open=openModal onHidden=(action "closeModal") as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Add Bill To Client
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    <div class="list-group">
      {{#each groupList as |group|}}
        <div class="list-group-item">
          <button class="btn btn-link" {{action (perform addBillToGroup group)}}>{{fa-icon
            "plus"}} {{group.title}}</button>
        </div>

      {{else}}
        {{#if listGroups.isRunning}}
          {{ui/inline-loading}}
        {{else}}
          <span class="dropdown-item"><em>Bill saved for all clients</em></span>
        {{/if}}
      {{/each}}
    </div>

  {{/modal.body}}
{{/bs-modal}}