
{{#bs-dropdown onShow=(perform listGroups) as |dd|}}
  {{#dd.button type=buttonType}}
    {{#if listGroups.isRunning}}
      {{ui/inline-loading}}
    {{else}}
      {{fa-icon "plus"}}
    {{/if}}
    Add To Group
  {{/dd.button}}
  {{#dd.menu as |menu|}}
    {{#each groupList as |group|}}
      {{#menu.item class="dropdown-item" tagName="li"}}
        <a href="#" onclick={{perform addBillToGroup group}}>{{group.title}}</a>
      {{/menu.item}}
    {{/each}}
  {{/dd.menu}}

{{/bs-dropdown}}