
{{#bs-dropdown onShow=(perform listGroups) as |dd|}}
  {{#dd.button type=buttonType size=buttonSize}}
    {{#if listGroups.isRunning}}
      {{ui/inline-loading}}
    {{/if}}
    {{#if displayText}}
      {{buttonText}}
    {{/if}}
  {{/dd.button}}
  {{#dd.menu align=menuAlign as |menu|}}
    {{#each groupList as |group|}}
      {{#menu.item class="dropdown-item" tagName="li"}}
        <button class="btn btn-link" {{action (perform addBillToGroup group)}}>{{fa-icon "plus"}} {{group.title}}</button>
      {{/menu.item}}
    {{else}}
      {{#if listGroups.isRunning}}
        {{ui/inline-loading}}
      {{else}}
        <span class="dropdown-item"><em>Bill saved for all clients</em></span>
      {{/if}}
    {{/each}}
  {{/dd.menu}}

{{/bs-dropdown}}
