{{#light-table table responsive=true height=tableHeight as |t|}}

  {{t.head
    onColumnClick=(action 'onColumnClick')
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
    fixed=true
  }}

  {{#t.body
    canExpand=true
    multiRowExpansion=false
    onScrolledToBottom=(action 'onScrolledToBottom')
  as |body|
  }}
    {{#if isLoading}}
      {{#body.loader}}
        {{ui/loading-animation}}
      {{/body.loader}}
    {{/if}}
    {{#body.expanded-row as |row|}}
      {{bills/bill-table-row row=row}}
    {{/body.expanded-row}}
  {{/t.body}}

  {{#if meta}}
    {{#t.foot fixed=true as |columns|}}
      <tr>
        <td class="align-center" colspan={{columns.length}}>
            {{ui/table-pagintor page=page pageSize=page_size meta=meta pageAction=(action 'setPage')}}
        </td>
      </tr>
    {{/t.foot}}
  {{/if}}

{{/light-table}}