{{#ui/ui-card}}
  {{#block-slot "content"}}
    {{#bs-form formLayout="inline" model=recordQuery onSubmit=(action "filter") as |form|}}
      {{form.element label="Sponsor" controlType="text" property="sponsor_name" class="pr-2"}}
      {{form.element label="Title" controlType="text" property="title__contains" class="pr-2"}}
      {{#form.element property="active_in" as |el|}}
        <div class="power-select-group-wrapper">
          {{#power-select
            options=dateFilterOptions
            selected=dateFilterType
            searchEnabled=false
            class="pr-2 py-1 bill-table-date-filter"
            onchange=(action (mut dateFilterType))
          as |option|}}
            <span class="text-capitalize">{{option}}</span> Date Range
          {{/power-select}}
        </div>
        {{baremetrics-calendar
          startDate=dateFilters.startDate
          endDate=dateFilters.endDate
          latestDate=latestDate
          presets=presets
          class="px-2"
          onchange=(action "updateDateFilter")}}
      {{/form.element}}
      {{bs-button defaultText="Filter" pendingText="Saving..." type="primary" buttonType="submit"}}
    {{/bs-form}}
  {{/block-slot}}
{{/ui/ui-card}}

{{#ui/ui-card}}
  {{#block-slot "content"}}
    {{#light-table table responsive=true height=tableHeight as |t|}}

      {{t.head
        onColumnClick=(action 'onColumnClick')
        iconAscending='fa fa-sort-asc'
        iconDescending='fa fa-sort-desc'
        fixed=true
      }}

      {{#t.body
        class="sup sup sup"
        onScrolledToBottom=(action 'onScrolledToBottom')
      as |body|
      }}
        {{#if isLoading}}
          {{#body.loader}}
            {{ui/loading-animation}}
          {{/body.loader}}
        {{/if}}

        {{#if (and (not isLoading) table.isEmpty)}}
          {{#body.no-data}}
            <p class="text-center">No bills match your query.</p>
          {{/body.no-data}}
        {{/if}}
      {{/t.body}}

      {{#if meta}}
        {{#t.foot fixed=true as |columns|}}
          <tr>
            <td class="align-center" colspan={{columns.length}}>
              {{ui/table-pagintor page=page pageSize=page_size meta=meta pageAction=(action 'setPage')}}
            </td>
          </tr>
        {{/t.foot}}
      {{/if}}

    {{/light-table}}
  {{/block-slot}}
{{/ui/ui-card}}
