<h3>{{bill.stateId}} <small>{{bill.state}}</small></h3>
<h5>{{get bill.sponsor "fullName"}}</h5>
<p><span class="badge badge-default">{{get bill.sponsor "party"}}</span> {{!--{{#link-to "legislators.detail" bill.sponsor.id}}View{{/link-to}}--}}</p>
{{#if bill.cosponsor}}
<h5>Cosponsors:</h5>
{{/if}}

{{#if model.wrappers}}
  <h5>Saved For</h5>
  {{#each model.wrappers as |wrapper|}}
    <p>{{#link-to "groups.bill.detail" wrapper.id}} {{wrapper.group.title}} {{wrapper.position}} {{/link-to}}</p>
  {{/each}}
{{/if}}

