{{ui-page-property model.bill.stateId property="title"}}

{{#global/page-title-actions}}
  {{#if model.bill.votes}}
    {{#bs/link-button "bills.votes" model.bill.id type="primary"}}{{fa-icon "gavel"}} Votes{{/bs/link-button}}
  {{else}}
    {{bills/add-to-group bills=model.bill fullWidth=false buttonType="primary"}}
  {{/if}}

{{/global/page-title-actions}}

{{#if (get model.bill "sponsor")}}
  {{#ui/ui-box as |b|}}
    {{#b.body}}
      {{#legislator/legislator-info legislator=(get model.bill "sponsor") as |l|}}
        <div class="media">
          <div class="media-body">
            <h5 class="mt-0 mb-1">{{l.name}}</h5>
            {{l.party}}
          </div>
        </div>
      {{/legislator/legislator-info}}
    {{/b.body}}
  {{/ui/ui-box}}
{{/if}}

{{#if model.bill.votes}}
  {{bills/-detail/vote-list bill=model.bill votes=model.bill.votes}}
{{/if}}


<div class="row">
  <div class="col-md-8">
    {{#ui/ui-box as |b|}}
      {{#b.body}}
        <div class="row">
          <div class="col-md-6">
            <h5>Summary</h5>
            <p>{{model.bill.title}}</p>
            <p>
              <a href="{{model.bill.remoteUrl}}" target="_blank" class="btn btn-light">View Bill Text {{fa-icon "external-link"}}</a>
            </p>
            {{bills/bill-cosponosrs model.bill}}
            {{bills/doc-list docs=model.bill.documents}}
            {{bills/-detail/bill-labs model.bill}}
          </div>

          <div class="col-md-6">
            {{wrappers/bill-wrappers bill=model.bill wrappers=model.wrappers}}
          </div>
        </div>
      {{/b.body}}
    {{/ui/ui-box}}
  </div>
  <div class="col-md-4">
    {{bills/-detail/history bill=model.bill}}
  </div>
</div>
