{{ui-page-property "Updates for" model.group.title property="title"}}

{{pages/-ui/header page=model}}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      {{#ui/ui-box as |b|}}
        {{#if model.headline}}
          {{#b.header}}
            {{model.headline}}
          {{/b.header}}
        {{/if}}
        {{#b.body}}
          <div class="media">
            {{user/user-avatar user=model.author class="mr-3" size=38 avatarRounded=true}}
            <div class="media-body">
              <h5 class="mt-0 text-secondary">Prepared By</h5>
              <h5>
                {{model.author.name}}
              </h5>
            </div>
          </div>
        {{/b.body}}
        {{#b.body}}
          {{model.description}}
        {{/b.body}}
      {{/ui/ui-box}}
    </div>
    <div class="col-md-4 order-md-first">
      {{updates/update-stream page=model}}
    </div>
  </div>
</div>