{{ui-page-property "Updates for" model.group.title property="title"}}

{{pages/-ui/header page=model}}

<div class="container">
  {{#pages/-anon/display page=model}}
    {{#ui/ui-box as |b|}}
      {{#b.header}}
        {{model.title}}
      {{/b.header}}
      {{#b.body}}
        <p><strong>Prepared for:</strong> {{model.group.title}}</p>
        {{#if model.description}}
          <p>{{model.description}}</p>
        {{/if}}
        <div class="media">
          {{ember-initials
            image=model.group.avatar
            name=model.group.title
            defaultName="?"
            seedText=model.group.title
            textColor="white"
            fontSize=45
            fontWeight=100
            fontFamily="Helvetica Neue Light, Arial, sans-serif"
            size=80
            class="img-thumbnail rounded-circle mr-3"
          }}
          <div class="media-body">
            <h6 class="mt-0">Contact:</h6>
            <h6 class="mt-0 font-weight-light">{{model.author.name}}</h6>
            <h6 class="mt-0" class="font-weight-light">
              {{if model.author.jobTitle model.author.jobTitle}} {{model.organization.name}}
            </h6>


          </div>
        </div>
      {{/b.body}}
    {{/ui/ui-box}}

  {{/pages/-anon/display}}
</div>