{{#if isEditing}}
  <div class="row">
    <div class="col-4">
      <div class="power-select-group-wrapper">
      {{#power-select
        options=dateFilterOptions
        selected=dateFilterType
        searchEnabled=false
        class="pr-2 py-1 bill-table-date-filter"
        onchange=(action (mut dateFilterType))
      as |option|}}
        <span class="text-capitalize">{{option}}</span> Date Range
      {{/power-select}}
      </div>
    </div>
    <div class="col-6">
      {{baremetrics-calendar
        startDate=dateFilters.startDate
        endDate=dateFilters.endDate
        latestDate=latestDate
        presets=presets
        class="px-2"
        onchange=(action "updateDateFilter")}}
    </div>
    <div class="col-2">
      {{#bs-button onClick=(action "save") class="pull-right"}}
        {{fa-icon "plus"}} Add
      {{/bs-button}}
    </div>
  </div>

{{else}}
  Date Range: {{moment-format dateFilters.startDate}} - {{moment-format dateFilters.endDate}}

  {{#bs-button type="light" size="sm" onClick=(action (mut isEditing) true)}}
    Edit
  {{/bs-button}}
{{/if}}