<div class="hamburger-wrapper">
  <a class="hamburger" {{action "toggleMenuState" on="click"}}><i aria-hidden="true" class="fa fa-bars"></i></a>
</div>
<div class="brand pt-1">
  {{#link-to "dashboard"}}
    <img src="/assets/images/capitolzenwordmark_logo.svg" class="hidden-md-down" width="175px"/>
    <h4 class="hidden-md-up">Capitol Zen</h4>
  {{/link-to}}


</div>
<ul class="user-menu-wrapper nav">
  {{!--{{notification/notification-center}} --}}

  {{#bs-button onClick=(action (mut helpModal) true) class="btn-link header-button-trigger"}}
    {{fa-icon "question-circle"}} <span class="hidden-md-down pl-1"> Help</span>
  {{/bs-button}}

  {{#bs-button onClick=(action (mut menuModal) true) class="btn-link header-button-trigger"}}
    {{fa-icon "cogs"}} <span class="hidden-md-down pl-1"> Settings</span>
  {{/bs-button}}
  
  {{#bs-modal open=helpModal size="lg" onHidden=(action (mut helpModal) false) as |modal|}}
    {{#modal.header}}
      <h4 class="modal-title text-center">
        Get Help
      </h4>
    {{/modal.header}}
    {{#modal.body}}
      {{ui/user-help dismiss=(action (mut helpModal) false)}}
    {{/modal.body}}
  {{/bs-modal}}

  {{#bs-modal open=menuModal size="lg" onHidden=(action (mut menuModal) false) as |modal|}}
    {{#modal.header}}
      <h4 class="modal-title text-center">
        Settings Menu
      </h4>
    {{/modal.header}}
    {{#modal.body}}
      {{ui/nav-list dismiss=(action (mut menuModal) false)}}
    {{/modal.body}}

  {{/bs-modal}}

  {{#bs-modal open=helpModal size="lg" onHidden=(action (mut helpModal) false) as |modal|}}
    {{#modal.header}}
      <h4 class="modal-title text-center">
        Get Help
      </h4>
    {{/modal.header}}
    {{#modal.body}}
      {{ui/user-help dismiss=(action (mut helpModal) false)}}
    {{/modal.body}}
  {{/bs-modal}}
</ul>