{{#yield-slot 'header'}}
  <h3 class="card-header">{{yield}}</h3>
{{/yield-slot}}
{{#yield-slot 'image'}}
  <img class="card-img-top" src="{{yield.url}}" alt="{{yield.alt}}">
{{/yield-slot}}
<div class="card-block">
  {{#yield-slot 'title'}}
    <h4 class="card-title">{{yield}}</h4>
  {{/yield-slot}}
  {{#yield-slot 'content'}}
      {{yield}}
  {{/yield-slot}}

  {{!-- Default yield --}}
  {{yield}}

  {{#yield-slot 'footer'}}
    <div class="card-footer text-muted">
      {{yield}}
    </div>
  {{/yield-slot}}
</div>