{{#ui/ui-box as |b|}}
  {{#b.body}}
    {{#bs-form model=recordQuery onSubmit=(action "filter") as |form|}}
      <div class="row">
        <div class="col-md-3">
          {{form.element placeholder="Search" controlType="text" property="search"}}
        </div>
        <div class="col-md-8">
            {{#form.element property="active_in" class="mw-100 row" as |el|}}
            <div class="col-md-4">
              <div class="power-select-group-wrapper">
                {{#power-select
                  options=dateFilterOptions
                  selected=dateFilterType
                  searchEnabled=false
                  class="bill-table-date-filter"
                  onchange=(action (mut dateFilterType))
                as |option|}}
                  <span class="text-capitalize">{{option}}</span> Date Range
                {{/power-select}}
              </div>
            </div>
              <div class="col-md-8">
                {{baremetrics-calendar
                  startDate=dateFilters.startDate
                  endDate=dateFilters.endDate
                  latestDate=latestDate
                  presets=presets
                  onchange=(action "updateDateFilter")}}
              </div>
            {{/form.element}}

        </div>
        <div class="col-md-1">
          {{bs-button defaultText="Filter" pendingText="Saving..." type="primary" buttonType="submit"}}
        </div>
      </div>
    {{/bs-form}}
  {{/b.body}}
{{/ui/ui-box}}

{{#ui/ui-box as |b|}}
  {{#b.body}}
    {{#light-table table responsive=true height=tableHeight as |t|}}

      {{t.head
        onColumnClick=(action 'onColumnClick')
        iconAscending='fa fa-sort-asc'
        iconDescending='fa fa-sort-desc'
        fixed=true
      }}

      {{#t.body
        onScrolledToBottom=(action 'onScrolledToBottom')
      as |body|
      }}
        {{#if isLoading}}
          {{#body.loader}}
            {{ui/loading-animation}}
          {{/body.loader}}
        {{/if}}

        {{#if (and (not isLoading) table.isEmpty)}}
          {{#body.no-data}}
            <p class="text-center">No bills match your query.</p>
          {{/body.no-data}}
        {{/if}}
      {{/t.body}}

      {{#if meta}}
        {{#t.foot fixed=true as |columns|}}
          <tr>
            <td class="align-center" colspan={{columns.length}}>
              {{ui/table-pagintor page=page pageSize=page_size meta=meta pageAction=(action 'setPage')}}
            </td>
          </tr>
        {{/t.foot}}
      {{/if}}

    {{/light-table}}
  {{/b.body}}
{{/ui/ui-box}}
