
{{#burger-menu animation="push" as |burger|}}
  {{#burger.menu itemTagName="li" as |menu|}}
    <a class="close" {{action burger.state.actions.close}}><i aria-hidden="true" class="fa fa-close"></i></a>

    <h2>
      Menu
    </h2>

    <ul>

      {{#menu.item dismissOnClick=true}}
        {{#link-to "groups"}}Clients{{/link-to}}
      {{/menu.item}}

      {{#menu.item dismissOnClick=true}}
        {{#link-to "bills.search"}}Search{{/link-to}}
      {{/menu.item}}

      {{#menu.item dismissOnClick=true}}
        {{#link-to "bills.saved"}}Saved Bills{{/link-to}}
      {{/menu.item}}

      {{#menu.item dismissOnClick=true}}
        {{#link-to "bills"}}All Bills{{/link-to}}
      {{/menu.item}}

      {{#menu.item dismissOnClick=true}}
        {{#link-to "reports"}}Reports{{/link-to}}
      {{/menu.item}}



    </ul>
  {{/burger.menu}}

  {{#burger.outlet}}
    {{!--
      Note: I had to remove the partial because the actions no longer bubble up in ember 2.15 from the partial
      TODO: We could refactor the menu into a seperate component to handle the actions
     --}}

      <div id="main-header" class="header nav-header clearfix {{if dnav.hideMain 'nav-header-up'}}">
        <div class="hamburger-wrapper">
          <a class="hamburger" {{action burger.state.actions.toggle}}><i aria-hidden="true" class="fa fa-bars"></i></a>
        </div>
        <div class="brand">
          {{#link-to "dashboard"}}
            <img src="/assets/images/capitolzenwordmark_logo.svg" width="175px"/>
          {{/link-to}}
        </div>
        <ul class="user-menu-wrapper nav">
          {{notification/notification-center}}

          {{#bs-button onClick=(action (mut helpModal) true) class="btn-link header-button-trigger"}}
            {{fa-icon "life-ring"}} <span class="hidden-md-down pl-1"> Help</span>
          {{/bs-button}}

          {{#bs-button onClick=(action (mut menuModal) true) class="btn-link header-button-trigger"}}
            {{fa-icon "cogs"}} <span class="hidden-md-down pl-1"> Settings</span>
          {{/bs-button}}



          {{#bs-modal open=helpModal size="lg" onHidden=(action (mut helpModal) false) as |modal|}}
            {{#modal.header}}
              <h4 class="modal-title text-center">
                Get Help
              </h4>
            {{/modal.header}}
            {{#modal.body}}
              {{ui/user-help dismiss=(action (mut helpModal) false)}}
            {{/modal.body}}
          {{/bs-modal}}

          {{#bs-modal open=menuModal size="lg" onHidden=(action (mut menuModal) false) as |modal|}}
            {{#modal.header}}
              <h4 class="modal-title text-center">
                Settings Menu
              </h4>
            {{/modal.header}}
            {{#modal.body}}
              {{ui/nav-list dismiss=(action (mut menuModal) false)}}
            {{/modal.body}}

          {{/bs-modal}}
        </ul>
      </div>

    <div class="app-container">
      {{ui/app-page-title}}
      <div class="content-container container-fluid">
        {{#each flashMessages.queue as |flash|}}
          {{flash-message flash=flash}}
        {{/each}}
        {{outlet}}
      </div>
    </div>

    {{ui/app-footer}}

  {{/burger.outlet}}
{{/burger-menu}}
{{ui/dynamic-nav}}