{{global/static-nav toggler=(action "toggleMenuState") menuState=menuState}}
{{#burger-menu animation="push" open=menuState locked=locked as |burger|}}
  {{#burger.menu itemTagName="li" as |menu|}}
    <a class="close" {{action burger.state.actions.close}}><i aria-hidden="true" class="fa fa-close"></i></a>
    <h2>
      Menu
    </h2>
    <ul>

      {{#menu.item dismissOnClick=true}}
        {{#link-to "dashboard"}}Dashboard{{/link-to}}
      {{/menu.item}}

      {{#menu.item dismissOnClick=true}}
        {{#link-to "bills"}}All Bills{{/link-to}}
      {{/menu.item}}

      {{#menu.item dismissOnClick=true}}
        {{#link-to "groups"}}Clients{{/link-to}}
      {{/menu.item}}

      {{#menu.item dismissOnClick=true}}
        {{#link-to "reports"}}Reports{{/link-to}}
      {{/menu.item}}

      {{#menu.item dismissOnClick=true}}
        {{#link-to "bills.saved"}}Saved Bills{{/link-to}}
      {{/menu.item}}

      {{#menu.item dismissOnClick=true}}
        {{#link-to "committees.index"}}Committees{{/link-to}}
      {{/menu.item}}


    </ul>
  {{/burger.menu}}

  {{#burger.outlet}}
    {{global/app-page-title}}
    <div class="app-container">
      <div class="content-container container-fluid">
        {{#each flashMessages.queue as |flash|}}
          {{flash-message flash=flash}}
        {{/each}}
        {{outlet}}
      </div>
    </div>
    {{global/app-footer}}
  {{/burger.outlet}}
{{/burger-menu}}
