{{ui-page-property "Dashboard" property="title"}}
{{#global/page-title-actions}}
  {{#link-to "committees.meetings" class="btn btn-primary"}}
    {{fa-icon "calendar"}} Committees
  {{/link-to}}
  {{#link-to "reports.index" class="btn btn-primary"}}
    {{fa-icon "file-text" class="mr-2"}}Reports
  {{/link-to}}
  {{#link-to "organization.team" class="btn btn-primary"}}
    {{fa-icon "users" class="mr-2"}}My Team
  {{/link-to}}
{{/global/page-title-actions}}

<div class="row mt-4">
  <div class="col-md-6 order-md-first">
    {{actions/action-center}}
  </div>
  <div class="col-md-5 offset-md-1">
    {{dashboard/user-clients}}
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6 offset-md-3">
    {{tools/to-do}}
  </div>
</div>
