{{ui-page-property "Dashboard" property="title"}}
{{#global/page-title-actions}}
  {{#link-to "groups.index"}}
    {{fa-icon "address-book"}} {{features.clientLabelPlural}}
  {{/link-to}}
  {{#link-to "committees.meetings"}}
    {{fa-icon "calendar"}} Committees
  {{/link-to}}
  {{#link-to "organization.team"}}
    {{fa-icon "users" class="mr-2"}}My Team
  {{/link-to}}
{{/global/page-title-actions}}

<div class="container">
  {{dashboard/list-detail}}
</div>
