{{ui-page-property "Dashboard" property="title"}}
{{#global/page-title-actions}}
  {{#link-to "groups.index"}}
    {{fa-icon "address-book"}} {{features.clientLabelPlural}}
  {{/link-to}}
  {{#link-to "committees.meetings"}}
    {{fa-icon "calendar"}} Committees
  {{/link-to}}
  {{#link-to "organization.team"}}
    {{fa-icon "users" class="mr-2"}}My Team
  {{/link-to}}
{{/global/page-title-actions}}

<div class="row mt-4">
  <div class="col-md-6 order-md-first">
    {{actions/action-center}}
  </div>
  <div class="col-md-5 offset-md-1">
      {{dashboard/user-clients}}
  </div>

</div>

{{#if media.isMobile}}
  <div class="row mt-4">
    <div class="col-12">
      {{tools/to-do}}
    </div>
  </div>
{{/if}}
