{{ui-page-property "Dashboard" property="title"}}
{{#global/page-title-actions}}
  {{#link-to "groups.index"}}
    {{fa-icon "address-book"}} {{features.clientLabelPlural}}
  {{/link-to}}
  {{#link-to "page-admin.index"}}
    {{fa-icon "paper-plane"}} My Pages
  {{/link-to}}
{{/global/page-title-actions}}

<div class="container">
  {{dashboard/list-detail}}
</div>
