{{#bs-form model=changeset onSubmit=(action "submit") as |form|}}
  <div class="card-body">
    {{form.element controlType="email" label="Email" placeholder="Email" property="email" required=true disabled=true}}
    {{form.element controlType="text" label="Name" placeholder="Name" property="name" required=true}}
    {{form.element controlType="password" label="Password" placeholder="Password" property="password"
                    required=true
                    helpText="Minimum 8 characters"}}
    {{form.element controlType="password" label="Password" placeholder="Confirm Password" property="confirm_password"
                    required=true
                    helpText="Minimum 8 characters"}}
  </div>
  <div class="card-footer">
    {{form/changeset-form-submit submit=submit loadingOnComplete=true defaultIcon="sign-in" defaultText="Accept and Create Account"}}
  </div>
{{/bs-form}}